In [1]:
#basic package
import os
import numpy as np
import pandas as pd
import sys
import time
import datetime as dt
import itertools
import math
import pickle #save and load dictionaries/lists

#plot
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
PACKAGE_PARENT = '../../'
SCRIPT_DIR = os.path.dirname(os.path.realpath(os.path.join(os.getcwd(), os.path.expanduser('__file__'))))
sys.path.append(os.path.normpath(os.path.join(SCRIPT_DIR, PACKAGE_PARENT)))
import config_origins as config

In [4]:
print('change the configuration file if not done yet!')
path_extracted_data = config.path_extracted_data
id_run = config.id_run
max_date_adaptability = config.max_date_adaptability
path_adap = os.path.join(path_extracted_data,'Adaptability')
#create a director if not existing
if not os.path.exists(path_adap):
    os.makedirs(path_adap)

change the configuration file if not done yet!

## download data

In [5]:
df = pd.read_csv(os.path.join(path_adap, 'df_MVT_4individuality.csv'), sep=';')
print(df.shape)
df.head(3)

(3230, 25)

,HenID,DIB,CLASS,PenID,temperature_C_avg,tobeusedPCA,InitialWeight,Treatment,perc_duration_5_Zone,perc_duration_4_Zone,...,nbr_stays_3_Zone_perh,nbr_stays_5_Zone_perh,nbr_stays_1_Zone_perh,in_WG_15mnAfterOpening,SleepingHeight,vertical_travel_distance_perh,DIB_startat11,avgDIB,severity,Feathers
0,hen_134,11,MEXP,pen10,11.500000,1,1112.0,TRAN,100.0,0.0,...,0.0,0.1,0.0,0,3,0.0,0,22.357143,34,73.0
1,hen_134,12,MEXP,pen10,10.166667,0,1112.0,TRAN,86.0,0.0,...,0.1,0.2,0.0,0,3,0.6,1,22.357143,34,73.0
2,hen_134,13,MEXP,pen10,9.000000,0,1112.0,TRAN,100.0,0.0,...,0.0,0.1,0.0,0,3,0.0,2,22.357143,34,73.0

## add variables

In [8]:
df['SleepingDown'] = df['SleepingHeight'].map(lambda x: int(x in [0,1]))
df['SleepingDown'].value_counts()

0    2601
1     629
Name: SleepingDown, dtype: int64

In [10]:
df['WentOutside'] = df['perc_1_Zone_while_WG_open'].map(lambda x: int(x >0))
df['WentOutside'].value_counts()

1    1877
0    1353
Name: WentOutside, dtype: int64

## save

In [11]:
df.to_csv(os.path.join(path_adap,'df_MVT_4individuality_MB.csv'), index=False, sep=';')

## BI

In [12]:
df = pd.read_csv(os.path.join(path_adap, 'df_MVT_4stat_BI.csv'), sep=';')
print(df.shape)
df.head(3)

(3230, 31)

,HenID,DIB,CLASS,PenID,temperature_C_avg,tobeusedPCA,InitialWeight,Treatment,perc_duration_5_Zone,perc_duration_4_Zone,...,DIB_startat11,avgDIB,severity,Feathers,PC1,nbr_daysnomvt_over_3days,Predictability_mean,Predictability_sd,Variability_mean,Variability_sd
0,hen_134,11,MEXP,pen10,11.500000,1,1112,TRAN,100,0,...,0,22.357143,34,73.0,-1.738433,1,-0.86939,0.097638,0.86939,0.097638
1,hen_134,12,MEXP,pen10,10.166667,0,1112,TRAN,86,0,...,1,22.357143,34,73.0,-1.455477,1,-0.86939,0.097638,0.86939,0.097638
2,hen_134,13,MEXP,pen10,9.000000,0,1112,TRAN,100,0,...,2,22.357143,34,73.0,-1.738433,1,-0.86939,0.097638,0.86939,0.097638

In [13]:
df['WentOutside'] = df['perc_1_Zone_while_WG_open'].map(lambda x: int(x >0))
df['WentOutside'].value_counts()

1    1877
0    1353
Name: WentOutside, dtype: int64

In [14]:
df.to_csv(os.path.join(path_adap,'df_MVT_4stat_BI_MB.csv'), index=False, sep=';')