In [3]:
#basic package
import json
import tqdm
import os
import numpy as np
import glob
import pandas as pd
import sys
import shutil
import time
import datetime as dt
import itertools
import time
import re
from collections import Counter
from collections import defaultdict
import operator
import math
#plot
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from UTILS import time_series_henColumn_tsRow, ZoneVariable, HenVariable, Entropy, heatmap_duration_perzone_perhen, \
TimeSeriesPlot
import config_mobility as config

In [ ]:
path_extracted_data = config.path_extracted_data
id_run = config.id_run
nbr_sec = config.nbr_sec

## henID christina and phillipe link to pen

In [122]:
p = r'C:\Users\camil\Desktop\animals_code\AVIFORUM\data\initial_data_mobility'
df_master = pd.read_csv(os.path.join(p,'Mo_Masterfile.csv'), sep=';')  #parse_dates=['date']
df_test = df_master.groupby(['pen'])['hen'].agg(lambda x: set(x)).reset_index()
df_test.to_csv(os.path.join(path_extracted_data,'verification','df_verification_pen_hen_link_Mo_Masterfile.csv'), 
               index=False, sep=';')
df_test

   pen                                                hen
0    1  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
1    2  {64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 7...
2    3  {32, 33, 34, 35, 36, 37, 38, 39, 40, 21, 22, 2...
3    4  {96, 97, 98, 99, 100, 81, 82, 83, 84, 85, 86, ...
4    5  {41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 5...
5    6  {101, 102, 103, 104, 105, 106, 107, 108, 109, ...

In [123]:
p = r'C:\Users\camil\Desktop\animals_code\AVIFORUM\data\initial_data_mobility'
df_fractures = pd.read_csv(os.path.join(p,'Mo_fractures_orig.csv'), sep=';')  #parse_dates=['date']
df_test = df_fractures.groupby(['pen'])[['HenID_Christina','HenID_Filipe']].agg(lambda x: set(x)).reset_index()
df_test.to_csv(os.path.join(path_extracted_data,'verification','df_verification_pen_hen_link_Mo_fractures_orig.csv'), 
               index=False, sep=';')
df_test

,pen,HenID_Christina,HenID_Filipe
0,1,"{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14..."
1,2,"{32, 33, 34, 35, 36, 37, 38, 39, 40, 21, 22, 2...","{64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 7..."
2,3,"{41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 5...","{32, 33, 34, 35, 36, 37, 38, 39, 40, 21, 22, 2..."
3,4,"{64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 7...","{96, 97, 98, 99, 100, 81, 82, 83, 84, 85, 86, ..."
4,5,"{96, 97, 98, 99, 100, 81, 82, 83, 84, 85, 86, ...","{41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 5..."
5,6,"{101, 102, 103, 104, 105, 106, 107, 108, 109, ...","{101, 102, 103, 104, 105, 106, 107, 108, 109, ..."