In [1]:
#basic package
import json
import tqdm
import os
import numpy as np
import glob
import pandas as pd
import sys
import shutil
import time
import datetime as dt
import itertools
import time
import re
from collections import Counter
from collections import defaultdict
import operator
import math
import functools
import collections
import datetime as dt

#plot
import matplotlib.pyplot as plt
import seaborn as sns

## Download data

In [3]:
df_scans = pd.read_excel(r'D:\vm_exchange\PhD_Data\GantnerValidation\validation_scan.xlsx', index_col=False,
                        parse_dates=['Date'])
df_scans['TrackingTag'] = df_scans['TrackingTag'].astype(str)
df_scans['obsZone'] = df_scans['obsZone'].map(lambda x: 'zone_'+str(x).lower())
print(df_scans.shape)
df_scans.head(3)

(215, 9)

,Date,Time,Pen,Side,Bird,obsZone,Position / Comments,TrackingTag,trackZone
0,2020-07-31,10:12:40,9,TS,sp,zone_4,Stange,69,NaN
1,2020-07-31,10:12:40,9,TS,gp,zone_4,Stange,106,NaN
2,2020-07-31,10:13:54,8,TS,bb,zone_4,NaN,30,NaN

In [4]:
li_df_logs = []
for path_ in glob.glob(r'D:\vm_exchange\PhD_Data\GantnerValidation\log_00000001_pen*.csv'):
    df_logs = pd.read_csv(path_, sep=';', names=['Date','Time','tagID','TrackingTag', 'Zone','SignalStrength','_','__'],
                          parse_dates=['Date']) 
    df_logs['Time'] = df_logs['Time'].map(lambda x: dt.datetime.strptime(x, "%H:%M:%S"))
    #extract time from day
    df_logs['Time'] = df_logs['Time'].map(lambda x: dt.datetime.time(x))
    df_logs['TrackingTag'] = df_logs['TrackingTag'].astype(str)
    li_df_logs.append(df_logs[df_logs['Date']>dt.datetime(2020,7,29)])
df_logs = pd.concat(li_df_logs)
print(df_logs.shape)
df_logs.head(3)

C:\Users\camil\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(24071, 8)

,Date,Time,tagID,TrackingTag,Zone,SignalStrength,_,__
91067,2020-07-30,14:37:31,2001558,58,Tier 1,9,2,1
91068,2020-07-30,14:37:32,2001044,44,Tier 3 Rampe + Nestbox,14,2,3
91069,2020-07-30,14:37:36,0200151C,35,Tier 2 (mini 12),11,2,8

In [4]:
dico_trackzone_obszone = {'Tier 1':'zone_1', 
                          'Tier 3 Rampe + Nestbox':'zone_3', 
                          'Tier 2 (mini 12)':'zone_2',
                          'Tier 2 (mini 11)':'zone_2', 
                          'Wintergarten':'zone_wg', 
                          'Tier 2 (mini 10)':'zone_2',
                          'Tier 2 + untere Stange':'zone_2', 
                          'Tier 4 + obere Stange':'zone_4',
                          'Tier 2 (mini 4)':'zone_2', 
                          'Tier 2 (mini 5)':'zone_2', 
                          'Tier 2 (mini 3)':'zone_2',
                          'Tier 2 (mini 8)':'zone_2', 
                          'Tier 2 (mini 9)':'zone_2'}
df_logs['Zone'] = df_logs['Zone'].map(lambda x: dico_trackzone_obszone[x])
df_logs['Zone'].unique()

array(['zone_1', 'zone_3', 'zone_2', 'zone_wg', 'zone_4'], dtype=object)

#not good to use as changed over time a lot between pens, birds were moved etc
df_BP_TT = pd.read_excel(r'D:\vm_exchange\PhD_Data\GantnerValidation\BackpackID_matching_trackingTag.xlsx', sep=';', 
                         index_col=False)
print(df_BP_TT.shape)
df_BP_TT.head(3)

## Matching backpach & trackingTag

In [5]:
df_logs.iloc[0]['Time'], df_logs.iloc[0]['Date']

(datetime.time(14, 37, 31), Timestamp('2020-07-30 00:00:00'))

In [6]:
dt.time(14, 37, 31)<dt.time(14, 37, 30)

False

In [7]:
df_scans.iloc[0]['Time'], df_scans.iloc[0]['Date']

(datetime.time(10, 12, 40), Timestamp('2020-07-31 00:00:00'))

In [8]:
df_logs.head(2)

            Date      Time    tagID TrackingTag    Zone  SignalStrength  _  __
91067 2020-07-30  14:37:31  2001558          58  zone_1               9  2   1
91068 2020-07-30  14:37:32  2001044          44  zone_3              14  2   3

In [9]:
df_scans.head(2)

,Date,Time,Pen,Side,Bird,obsZone,Position / Comments,TrackingTag,trackZone
0,2020-07-31,10:12:40,9,TS,sp,zone_4,Stange,69,NaN
1,2020-07-31,10:12:40,9,TS,gp,zone_4,Stange,106,NaN

In [10]:
def bird_zone(df_logs, trackingtag, date, time, zone=None, print_=True):
    
    '''Print where the chicken was before and after this exact time and compute the the duration if a zone is indicated and 
    if the chicken is in this zone and output where he is now'''
    
    d = dt.date(1, 1, 1)
    df_ = df_logs[(df_logs['Date']==date) & (df_logs['TrackingTag']==trackingtag)]
    #remove same time
    df_ = df_.drop_duplicates(subset=None, keep='first', inplace=False)
    df_.index = df_['Time']
    if df_.shape[0]==0:
        if print_:
            print('No data for this chicken!')
        return 0,0,0,0
    try:
        x0 = df_.iloc[df_.index.get_loc(time,method='ffill')]
        x1 = df_.iloc[df_.index.get_loc(time,method='bfill')]
        #display(x0)
        #display(x1)
        t0 = 0 ; t1 = 0
        if zone!=None:
            if x0['Zone']==zone:
                t0 = dt.datetime.combine(d, time) - dt.datetime.combine(d, x0['Time'])
                t1 = dt.datetime.combine(d, x1['Time']) - dt.datetime.combine(d, time)
                if print_:
                    t = 'The chicken %s was %s already in that zone and staid %s more in this zone'%(trackingtag,
                                                                                                     str(t0),str(t1))
                    print(t)
                return t0.seconds,t1.seconds,x0['Zone'],t
        if print_:
            t = 'The chicken %s was in %s at %s and in %s at %s, and not in %s at %s'%(trackingtag, 
                                                                                         str(x0['Zone']),x0['Time'],
                                                                                         str(x1['Zone']),x1['Time'],
                                                                                         zone, time)
            print(t)
            return 0,0,x0['Zone'],t
    except Exception as e:
        pass
    return 0,0,0,0
    
#small e.g.
#t0,t1 = bird_zone(df_logs,'68',dt.datetime(2020,7,30),dt.time(15,30,30), 'zone_1')
#t0,t1 = bird_zone(df_logs,'68',dt.datetime(2020,7,30),dt.time(15,30,30), 'zone_wg')

In [11]:
df_scans['tuple_secondsbefore_after'] = df_scans.apply(lambda x: str(bird_zone(df_logs,x['TrackingTag'],x['Date'],x['Time'],
                                                                  x['obsZone'],print_=True)), axis=1)

The chicken 69 was 0:52:46 already in that zone and staid 0:07:33 more in this zone
The chicken 106 was 1:44:43 already in that zone and staid 0:01:50 more in this zone
The chicken 30 was 1:30:28 already in that zone and staid 2:10:59 more in this zone
The chicken 37 was 0:03:43 already in that zone and staid 0:04:28 more in this zone
The chicken 56 was in zone_2 at 10:15:19 and in zone_2 at 10:21:32, and not in zone_1 at 10:15:54
The chicken 56 was 0:01:43 already in that zone and staid 0:04:30 more in this zone
The chicken 5 was 0:07:34 already in that zone and staid 0:21:58 more in this zone
The chicken 37 was 0:00:27 already in that zone and staid 0:00:18 more in this zone
The chicken 45 was 0:03:15 already in that zone and staid 0:08:20 more in this zone
The chicken 30 was 1:40:18 already in that zone and staid 2:01:09 more in this zone
The chicken 37 was 0:01:17 already in that zone and staid 0:05:55 more in this zone
The chicken 9 was 0:26:38 already in that zone and staid 0:14:35 more in this zone
The chicken 92 was 0:14:14 already in that zone and staid 0:07:39 more in this zone
The chicken 114 was 0:19:20 already in that zone and staid 0:03:00 more in this zone
The chicken 65 was in zone_2 at 10:24:21 and in zone_3 at 10:30:36, and not in zone_3 at 10:30:20
The chicken 65 was in zone_2 at 10:24:21 and in zone_3 at 10:30:36, and not in zone_3 at 10:30:26
The chicken 65 was 0:00:55 already in that zone and staid 0:00:01 more in this zone
The chicken 9 was 0:32:37 already in that zone and staid 0:08:36 more in this zone
The chicken 45 was 0:00:31 already in that zone and staid 0:01:16 more in this zone
The chicken 37 was 0:02:10 already in that zone and staid 0:01:26 more in this zone
The chicken 48 was in zone_1 at 10:41:41 and in zone_3 at 10:52:44, and not in zone_3 at 10:52:36
The chicken 48 was 0:01:01 already in that zone and staid 0:02:30 more in this zone
The chicken 65 was 0:01:19 already in that zone and staid 0:00:20 more in this zone
The chicken 110 was 0:05:30 already in that zone and staid 0:02:32 more in this zone
The chicken 92 was in zone_1 at 10:07:30 and in zone_wg at 10:07:51, and not in zone_wg at 10:07:42
The chicken 92 was 0:01:48 already in that zone and staid 0:02:47 more in this zone
The chicken 5 was 0:00:11 already in that zone and staid 0:02:06 more in this zone
The chicken 65 was 0:00:09 already in that zone and staid 0:02:00 more in this zone
The chicken 45 was 0:03:37 already in that zone and staid 0:01:58 more in this zone
The chicken 53 was 0:03:06 already in that zone and staid 0:03:31 more in this zone
The chicken 48 was in zone_4 at 09:32:19 and in zone_3 at 10:14:46, and not in zone_1 at 10:12:30
The chicken 83 was 0:01:46 already in that zone and staid 0:16:50 more in this zone
The chicken 45 was in zone_1 at 10:08:53 and in zone_wg at 10:14:28, and not in zone_wg at 10:14:18
The chicken 106 was in zone_3 at 10:14:30 and in zone_2 at 10:14:54, and not in zone_2 at 10:14:48
The chicken 48 was 0:00:40 already in that zone and staid 0:01:02 more in this zone
The chicken 106 was 0:00:04 already in that zone and staid 0:00:47 more in this zone
The chicken 92 was 0:04:08 already in that zone and staid 0:17:45 more in this zone
The chicken 9 was 0:16:32 already in that zone and staid 0:24:41 more in this zone
The chicken 30 was 1:34:04 already in that zone and staid 2:07:23 more in this zone
The chicken 114 was 0:11:50 already in that zone and staid 0:10:30 more in this zone
The chicken 69 was 0:00:11 already in that zone and staid 0:00:15 more in this zone
The chicken 48 was 0:04:49 already in that zone and staid 0:00:43 more in this zone
The chicken 53 was 0:03:50 already in that zone and staid 0:00:12 more in this zone
The chicken 37 was 0:00:11 already in that zone and staid 0:00:07 more in this zone
The chicken 106 was 0:04:32 already in that zone and staid 0:02:05 more in this zone
The chicken 45 was 0:05:46 already in that zone and staid 0:05:49 more in this zone
The chicken 22 was 0:00:16 already in that zone and staid 0:07:36 more in this zone
The chicken 87 was 0:01:22 already in that zone and staid 0:00:04 more in this zone
The chicken 57 was 0:07:44 already in that zone and staid 0:30:28 more in this zone
The chicken 4 was 0:15:48 already in that zone and staid 0:01:16 more in this zone
The chicken 94 was in zone_2 at 14:31:14 and in zone_1 at 14:31:32, and not in zone_1 at 14:31:25
The chicken 22 was 0:03:26 already in that zone and staid 0:04:26 more in this zone
The chicken 57 was 0:26:16 already in that zone and staid 0:11:56 more in this zone
The chicken 22 was 0:00:01 already in that zone and staid 0:14:42 more in this zone
The chicken 57 was 0:26:45 already in that zone and staid 0:11:27 more in this zone
The chicken 3 was in zone_2 at 14:49:41 and in zone_3 at 14:50:01, and not in zone_4 at 14:50:00
The chicken 3 was in zone_3 at 14:50:01 and in zone_4 at 14:50:15, and not in zone_4 at 14:50:11
The chicken 94 was in zone_2 at 15:07:39 and in zone_3 at 15:08:51, and not in zone_3 at 15:08:40
The chicken 94 was in zone_2 at 15:07:39 and in zone_3 at 15:08:51, and not in zone_3 at 15:08:45
The chicken 94 was 0:00:13 already in that zone and staid 0:01:01 more in this zone
The chicken 94 was in zone_3 at 15:08:51 and in zone_4 at 15:10:05, and not in zone_4 at 15:09:44
The chicken 19 was in zone_2 at 14:40:00 and in zone_1 at 14:40:11, and not in zone_1 at 14:40:07
The chicken 15 was 1:19:59 already in that zone and staid 0:23:41 more in this zone
The chicken 80 was 0:00:07 already in that zone and staid 0:00:13 more in this zone
The chicken 29 was 0:08:39 already in that zone and staid 0:00:49 more in this zone
The chicken 15 was 1:23:18 already in that zone and staid 0:20:22 more in this zone
The chicken 29 was 0:00:11 already in that zone and staid 0:03:22 more in this zone
The chicken 19 was 0:01:04 already in that zone and staid 0:00:31 more in this zone
The chicken 19 was in zone_2 at 14:49:50 and in zone_1 at 14:51:25, and not in zone_1 at 14:51:11
The chicken 19 was in zone_2 at 14:52:02 and in zone_3 at 14:53:23, and not in zone_3 at 14:53:10
The chicken 19 was in zone_2 at 14:52:02 and in zone_3 at 14:53:23, and not in zone_3 at 14:53:19
The chicken 19 was in zone_2 at 14:57:06 and in zone_4 at 14:57:33, and not in zone_4 at 14:57:30
The chicken 44 was 8:24:33 already in that zone and staid 0:02:43 more in this zone
The chicken 62 was 0:03:29 already in that zone and staid 0:01:16 more in this zone
The chicken 108 was 0:01:46 already in that zone and staid 0:03:26 more in this zone
The chicken 108 was in zone_1 at 14:32:24 and in zone_2 at 14:37:36, and not in zone_2 at 14:35:10
The chicken 62 was 0:00:22 already in that zone and staid 0:00:24 more in this zone
The chicken 58 was 0:14:10 already in that zone and staid 0:13:46 more in this zone
The chicken 62 was 0:00:26 already in that zone and staid 0:14:58 more in this zone
The chicken 97 was 0:03:04 already in that zone and staid 0:00:25 more in this zone
The chicken 96 was 0:01:03 already in that zone and staid 0:02:54 more in this zone
The chicken 97 was 0:00:06 already in that zone and staid 0:00:53 more in this zone
The chicken 70 was 0:01:13 already in that zone and staid 0:08:59 more in this zone
The chicken 67 was 0:30:16 already in that zone and staid 0:00:24 more in this zone
The chicken 108 was in zone_1 at 14:59:26 and in zone_2 at 15:03:14, and not in zone_3 at 15:03:10
The chicken 108 was 0:00:04 already in that zone and staid 0:00:24 more in this zone
The chicken 108 was 0:00:09 already in that zone and staid 0:00:19 more in this zone
The chicken 3 was 0:02:49 already in that zone and staid 0:00:45 more in this zone
The chicken 87 was 0:00:19 already in that zone and staid 0:07:08 more in this zone
The chicken 75 was 0:00:23 already in that zone and staid 0:18:41 more in this zone
The chicken 109 was in zone_wg at 14:27:01 and in zone_1 at 14:31:20, and not in zone_1 at 14:31:10
The chicken 55 was 0:01:40 already in that zone and staid 0:00:32 more in this zone
The chicken 4 was 0:00:04 already in that zone and staid 0:00:21 more in this zone
The chicken 6 was 0:08:45 already in that zone and staid 0:03:17 more in this zone
The chicken 95 was 0:51:16 already in that zone and staid 0:52:01 more in this zone
The chicken 3 was 0:00:26 already in that zone and staid 0:14:29 more in this zone
The chicken 85 was 0:01:31 already in that zone and staid 0:00:36 more in this zone
The chicken 75 was 0:02:24 already in that zone and staid 0:16:40 more in this zone
The chicken 72 was 0:21:31 already in that zone and staid 0:04:00 more in this zone
The chicken 109 was 0:01:51 already in that zone and staid 0:06:02 more in this zone
The chicken 85 was 0:00:14 already in that zone and staid 0:18:59 more in this zone
The chicken 46 was 0:05:46 already in that zone and staid 0:20:11 more in this zone
The chicken 80 was in zone_1 at 14:16:21 and in zone_wg at 14:34:57, and not in zone_wg at 14:34:44
The chicken 99 was in zone_1 at 14:21:45 and in zone_wg at 14:35:05, and not in zone_wg at 14:34:44
No data for this chicken!
The chicken 105 was 0:26:36 already in that zone and staid 0:06:33 more in this zone
The chicken 56 was 0:00:52 already in that zone and staid 0:11:39 more in this zone
The chicken 25 was 0:19:07 already in that zone and staid 0:01:38 more in this zone
The chicken 97 was 0:02:46 already in that zone and staid 0:00:43 more in this zone
The chicken 8 was 0:11:22 already in that zone and staid 0:15:02 more in this zone
The chicken 103 was 0:05:47 already in that zone and staid 0:00:46 more in this zone
The chicken 70 was 0:21:53 already in that zone and staid 0:02:09 more in this zone
The chicken 108 was 0:00:31 already in that zone and staid 0:00:07 more in this zone
No data for this chicken!
The chicken 33 was 0:16:15 already in that zone and staid 0:01:10 more in this zone
The chicken 66 was 0:25:38 already in that zone and staid 0:03:20 more in this zone
The chicken 94 was 0:01:48 already in that zone and staid 0:09:12 more in this zone
The chicken 85 was 0:09:26 already in that zone and staid 0:09:47 more in this zone
No data for this chicken!
The chicken 109 was 0:01:58 already in that zone and staid 0:01:42 more in this zone
The chicken 24 was 0:18:23 already in that zone and staid 0:01:45 more in this zone
The chicken 55 was 0:00:25 already in that zone and staid 0:11:43 more in this zone
The chicken 109 was in zone_1 at 14:40:25 and in zone_wg at 14:44:05, and not in zone_wg at 14:43:58
The chicken 95 was 1:02:53 already in that zone and staid 0:40:24 more in this zone
The chicken 87 was 0:05:40 already in that zone and staid 0:22:30 more in this zone
The chicken 3 was 0:12:03 already in that zone and staid 0:02:52 more in this zone
The chicken 85 was 0:11:36 already in that zone and staid 0:07:37 more in this zone
The chicken 6 was 0:00:45 already in that zone and staid 0:06:24 more in this zone
The chicken 94 was 0:03:58 already in that zone and staid 0:07:02 more in this zone
The chicken 119 was 0:06:25 already in that zone and staid 0:02:14 more in this zone
The chicken 72 was 0:01:04 already in that zone and staid 0:13:57 more in this zone
The chicken 57 was 0:22:53 already in that zone and staid 0:15:19 more in this zone
The chicken 105 was 0:01:44 already in that zone and staid 0:07:22 more in this zone
The chicken 80 was 0:01:50 already in that zone and staid 0:13:23 more in this zone
The chicken 99 was 0:01:18 already in that zone and staid 0:05:23 more in this zone
The chicken 19 was 0:00:58 already in that zone and staid 0:00:11 more in this zone
The chicken 46 was 0:18:24 already in that zone and staid 0:07:33 more in this zone
The chicken 97 was 0:02:18 already in that zone and staid 0:04:07 more in this zone
The chicken 103 was in zone_2 at 14:48:30 and in zone_2 at 14:49:13, and not in zone_1 at 14:48:43
The chicken 108 was 0:02:52 already in that zone and staid 0:10:33 more in this zone
The chicken 103 was 0:00:01 already in that zone and staid 0:00:16 more in this zone
The chicken 25 was 0:06:29 already in that zone and staid 0:08:54 more in this zone
The chicken 105 was 0:00:27 already in that zone and staid 0:00:36 more in this zone
The chicken 3 was 0:00:23 already in that zone and staid 0:01:20 more in this zone
The chicken 38 was 0:01:51 already in that zone and staid 0:05:10 more in this zone
The chicken 90 was 0:00:34 already in that zone and staid 0:03:11 more in this zone
The chicken 39 was 0:32:27 already in that zone and staid 0:01:35 more in this zone
The chicken 60 was 0:13:45 already in that zone and staid 0:06:16 more in this zone
The chicken 77 was 0:04:42 already in that zone and staid 0:00:54 more in this zone
The chicken 68 was 0:04:48 already in that zone and staid 0:01:12 more in this zone
The chicken 60 was 0:14:00 already in that zone and staid 0:06:01 more in this zone
The chicken 27 was 0:00:09 already in that zone and staid 0:31:24 more in this zone
The chicken 12 was 0:01:20 already in that zone and staid 0:36:07 more in this zone
The chicken 115 was 0:33:24 already in that zone and staid 0:01:44 more in this zone
The chicken 38 was 0:04:43 already in that zone and staid 0:02:18 more in this zone
The chicken 79 was 0:16:22 already in that zone and staid 0:08:04 more in this zone
The chicken 92 was in zone_1 at 15:39:25 and in zone_2 at 15:58:12, and not in zone_2 at 15:48:16
The chicken 107 was 0:10:05 already in that zone and staid 0:00:46 more in this zone
The chicken 110 was 0:11:24 already in that zone and staid 0:05:24 more in this zone
The chicken 68 was in zone_2 at 15:47:36 and in zone_2 at 15:49:53, and not in zone_1 at 15:49:37
The chicken 49 was in zone_1 at 15:03:58 and in zone_1 at 15:57:04, and not in zone_4 at 15:50:28
The chicken 63 was 0:00:21 already in that zone and staid 0:05:46 more in this zone
The chicken 20 was in zone_2 at 16:12:03 and in zone_3 at 16:12:20, and not in zone_3 at 16:12:14
The chicken 20 was 0:00:40 already in that zone and staid 0:00:17 more in this zone
The chicken 20 was 0:00:48 already in that zone and staid 0:17:37 more in this zone
The chicken 23 was in zone_1 at 16:03:46 and in zone_2 at 16:13:51, and not in zone_3 at 16:13:44
The chicken 43 was 0:13:37 already in that zone and staid 0:09:51 more in this zone
The chicken 14 was 0:17:35 already in that zone and staid 0:00:03 more in this zone
The chicken 107 was 0:00:38 already in that zone and staid 0:05:29 more in this zone
The chicken 78 was 0:12:31 already in that zone and staid 0:05:16 more in this zone
The chicken 42 was 0:21:00 already in that zone and staid 0:44:33 more in this zone
The chicken 43 was 0:14:54 already in that zone and staid 0:08:34 more in this zone
The chicken 52 was 0:19:14 already in that zone and staid 0:24:49 more in this zone
The chicken 10 was 0:21:35 already in that zone and staid 0:07:54 more in this zone
The chicken 32 was 0:01:06 already in that zone and staid 0:15:13 more in this zone
The chicken 38 was 0:02:32 already in that zone and staid 0:04:46 more in this zone
The chicken 90 was 0:23:28 already in that zone and staid 0:04:54 more in this zone
The chicken 68 was 0:09:47 already in that zone and staid 0:01:25 more in this zone
The chicken 98 was 0:00:41 already in that zone and staid 0:00:08 more in this zone
The chicken 73 was 0:35:37 already in that zone and staid 0:26:51 more in this zone
The chicken 12 was 0:31:47 already in that zone and staid 0:08:16 more in this zone
The chicken 91 was 0:00:48 already in that zone and staid 0:00:24 more in this zone
The chicken 20 was in zone_1 at 15:37:01 and in zone_4 at 15:57:02, and not in zone_3 at 15:54:35
The chicken 20 was in zone_1 at 15:37:01 and in zone_4 at 15:57:02, and not in zone_3 at 15:54:43
The chicken 20 was in zone_1 at 15:37:01 and in zone_4 at 15:57:02, and not in zone_3 at 15:55:05
The chicken 38 was in zone_2 at 15:50:44 and in zone_1 at 15:56:15, and not in zone_3 at 15:56:12
The chicken 38 was 0:00:17 already in that zone and staid 0:00:39 more in this zone
The chicken 38 was 0:00:42 already in that zone and staid 0:00:14 more in this zone
The chicken 14 was in zone_1 at 15:56:57 and in zone_2 at 15:58:43, and not in zone_3 at 15:58:40
The chicken 14 was 0:00:28 already in that zone and staid 0:00:44 more in this zone

The chicken 14 was 0:00:49 already in that zone and staid 0:00:23 more in this zone
The chicken 91 was 0:09:23 already in that zone and staid 0:03:22 more in this zone
The chicken 14 was in zone_2 at 15:30:20 and in zone_1 at 15:31:31, and not in zone_1 at 15:31:15
The chicken 42 was 0:22:47 already in that zone and staid 0:42:46 more in this zone
The chicken 91 was 0:00:15 already in that zone and staid 0:00:57 more in this zone
The chicken 64 was 0:18:14 already in that zone and staid 0:01:02 more in this zone
The chicken 64 was 0:00:04 already in that zone and staid 0:01:20 more in this zone
The chicken 64 was in zone_3 at 15:36:43 and in zone_4 at 15:38:07, and not in zone_4 at 15:38:00
The chicken 78 was 0:03:22 already in that zone and staid 0:00:50 more in this zone
The chicken 21 was 0:18:26 already in that zone and staid 0:10:40 more in this zone
The chicken 2 was 0:07:53 already in that zone and staid 0:11:53 more in this zone
The chicken 12 was 0:02:43 already in that zone and staid 0:34:44 more in this zone
The chicken 117 was 0:01:29 already in that zone and staid 0:13:19 more in this zone
No data for this chicken!
The chicken 54 was 0:18:09 already in that zone and staid 0:07:17 more in this zone
The chicken 100 was 0:01:17 already in that zone and staid 0:06:25 more in this zone
The chicken 73 was 0:50:58 already in that zone and staid 0:11:30 more in this zone
The chicken 16 was 0:00:15 already in that zone and staid 0:00:16 more in this zone
No data for this chicken!

In [12]:
#Note: each time obsZone !=trackZone, we should look if it due to system delay etc
df_scans['trackZone'] = df_scans['tuple_secondsbefore_after'].map(lambda x: eval(x)[2])
df_scans['automatic_comment'] = df_scans['tuple_secondsbefore_after'].map(lambda x: eval(x)[3])
df_scans['SecondsBefore'] = df_scans['tuple_secondsbefore_after'].map(lambda x: eval(x)[0])
df_scans['SecondsAfter'] = df_scans['tuple_secondsbefore_after'].map(lambda x: eval(x)[1])
df_scans['is_correct'] = df_scans.apply(lambda x: x['obsZone']==x['trackZone'], axis=1)
df_scans = df_scans.drop(['tuple_secondsbefore_after'], axis=1) 
df_scans

,Date,Time,Pen,Side,Bird,obsZone,Position / Comments,TrackingTag,trackZone,automatic_comment,SecondsBefore,SecondsAfter,is_correct
0,2020-07-31,10:12:40,9,TS,sp,zone_4,Stange,69,zone_4,The chicken 69 was 0:52:46 already in that zon...,3166,453,True
1,2020-07-31,10:12:40,9,TS,gp,zone_4,Stange,106,zone_4,The chicken 106 was 1:44:43 already in that zo...,6283,110,True
2,2020-07-31,10:13:54,8,TS,bb,zone_4,NaN,30,zone_4,The chicken 30 was 1:30:28 already in that zon...,5428,7859,True
3,2020-07-31,10:15:54,9,TS,sb,zone_1,NaN,37,zone_1,The chicken 37 was 0:03:43 already in that zon...,223,268,True
4,2020-07-31,10:15:54,9,TS,pb,zone_1,just before transition to zone 2,56,zone_2,The chicken 56 was in zone_2 at 10:15:19 and i...,0,0,False
5,2020-07-31,10:17:02,9,TS,pb,zone_2,NaN,56,zone_2,The chicken 56 was 0:01:43 already in that zon...,103,270,True
6,2020-07-31,10:19:19,8,TS,gg,zone_1,NaN,5,zone_1,The chicken 5 was 0:07:34 already in that zone...,454,1318,True
7,2020-07-31,10:21:19,9,TS,sb,zone_2,NaN,37,zone_2,The chicken 37 was 0:00:27 already in that zon...,27,18,True
8,2020-07-31,10:21:40,9,TS,sws,zone_1,NaN,45,zone_1,The chicken 45 was 0:03:15 already in that zon...,195,500,True
9,2020-07-31,10:23:44,8,TS,bb,zone_4,NaN,30,zone_4,The chicken 30 was 1:40:18 already in that zon...,6018,7269,True
10,2020-07-31,10:24:05,9,TS,sb,zone_1,NaN,37,zone_1,The chicken 37 was 0:01:17 already in that zon...,77,355,True
11,2020-07-31,10:26:40,8,TS,sp,zone_1,NaN,9,zone_1,The chicken 9 was 0:26:38 already in that zone...,1598,875,True
12,2020-07-31,10:26:40,8,TS,sg,zone_1,NaN,92,zone_1,The chicken 92 was 0:14:14 already in that zon...,854,459,True
13,2020-07-31,10:26:40,8,TS,wb,zone_1,NaN,114,zone_1,The chicken 114 was 0:19:20 already in that zo...,1160,180,True
14,2020-07-31,10:30:20,8,TS,wp,zone_3,"inside nest box, right side",65,zone_2,The chicken 65 was in zone_2 at 10:24:21 and i...,0,0,False
15,2020-07-31,10:30:26,8,TS,wp,zone_3,balcony,65,zone_2,The chicken 65 was in zone_2 at 10:24:21 and i...,0,0,False
16,2020-07-31,10:31:31,8,TS,wp,zone_3,"inside nest box, left side",65,zone_3,The chicken 65 was 0:00:55 already in that zon...,55,1,True
17,2020-07-31,10:32:39,8,TS,sp,zone_1,NaN,9,zone_1,The chicken 9 was 0:32:37 already in that zone...,1957,516,True
18,2020-07-31,10:32:10,9,TS,sws,zone_2,NaN,45,zone_2,The chicken 45 was 0:00:31 already in that zon...,31,76,True
19,2020-07-31,10:32:10,9,TS,sb,zone_2,NaN,37,zone_2,The chicken 37 was 0:02:10 already in that zon...,130,86,True
20,2020-07-31,10:52:36,9,TS,wb,zone_3,"inside nest box, right side",48,zone_1,The chicken 48 was in zone_1 at 10:41:41 and i...,0,0,False
21,2020-07-31,10:53:45,9,TS,wb,zone_3,balcony,48,zone_3,The chicken 48 was 0:01:01 already in that zon...,61,150,True
22,2020-07-31,10:36:00,8,TS,wp,zone_2,NaN,65,zone_2,The chicken 65 was 0:01:19 already in that zon...,79,20,True
23,2020-07-31,10:06:02,8,WG,gp,zone_2,NaN,110,zone_2,The chicken 110 was 0:05:30 already in that zo...,330,152,True
24,2020-07-31,10:07:42,8,WG,sg,zone_wg,NaN,92,zone_1,The chicken 92 was in zone_1 at 10:07:30 and i...,0,0,False
25,2020-07-31,10:09:39,8,WG,sg,zone_wg,NaN,92,zone_wg,The chicken 92 was 0:01:48 already in that zon...,108,167,True
26,2020-07-31,10:09:39,8,WG,gg,zone_wg,NaN,5,zone_wg,The chicken 5 was 0:00:11 already in that zone...,11,126,True
27,2020-07-31,10:09:39,8,WG,wp,zone_wg,NaN,65,zone_wg,The chicken 65 was 0:00:09 already in that zon...,9,120,True
28,2020-07-31,10:12:30,9,WG,sws,zone_1,NaN,45,zone_1,The chicken 45 was 0:03:37 already in that zon...,217,118,True
29,2020-07-31,10:12:30,9,WG,bb,zone_1,NaN,53,zone_1,The chicken 53 was 0:03:06 already in that zon...,186,211,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,2020-07-30,15:41:41,3,TS,wg,zone_4,NaN,64,0,0,0,0,False
186,2020-07-30,15:41:28,4,TS,gb,zone_4,NaN,10,0,0,0,0,False
187,2020-07-30,15:42:41,3,TS,pp,zone_2,NaN,91,zone_2,The chicken 91 was 0:00:48 already in that zon...,48,24,True
188,2020-07-30,15:54:35,5,TS,sws,zone_3,NaN,20,zone_1,The chicken 20 was in zone_1 at 15:37:01 and i...,0,0,False
189,2020-07-30,15:54:43,5,TS,sws,zone_3,NaN,20,zone_1,The chicken 20 was in zone_1 at 15:37:01 and i...,0,0,False
190,2020-07-30,15:55:05,5,TS,sws,zone_3,NaN,20,zone_1,The chicken 20 was in zone_1 at 15:37:01 and i...,0,0,False
191,2020-07-30,15:56:12,4,TS,gp,zone_3,NaN,38,zone_2,The chicken 38 was in zone_2 at 15:50:44 and i...,0,0,False
192,2020-07-30,15:56:34,4,TS,gp,zone_3,NaN,38,zone_3,The chicken 38 was 0:00:17 already in that zon...,17,39,True
193,2020-07-30,15:56:59,4,TS,gp,zone_3,NaN,38,zone_3,The chicken 38 was 0:00:42 already in that zon...,42,14,True
194,2020-07-30,15:58:40,3,TS,ss,zone_3,NaN,14,zone_1,The chicken 14 was in zone_1 at 15:56:57 and i...,0,0,False
195,2020-07-30,15:59:15,3,TS,ss,zone_3,NaN,14,zone_3,The chicken 14 was 0:00:28 already in that zon...,28,44,True
196,2020-07-30,15:59:36,3,TS,ss,zone_3,NaN,14,zone_3,The chicken 14 was 0:00:49 already in that zon...,49,23,True
197,2020-07-30,15:29:55,3,TS,pp,zone_1,NaN,91,zone_1,The chicken 91 was 0:09:23 already in that zon...,563,202,True
198,2020-07-30,15:31:15,3,TS,ss,zone_1,NaN,14,zone_2,The chicken 14 was in zone_2 at 15:30:20 and i...,0,0,False
199,2020-07-30,15:33:04,3,TS,ps,zone_1,NaN,42,zone_1,The chicken 42 was 0:22:47 already in that zon...,1367,2566,True
200,2020-07-30,15:34:55,3,TS,pp,zone_2,NaN,91,zone_2,The chicken 91 was 0:00:15 already in that zon...,15,57,True
201,2020-07-30,15:35:41,3,TS,wg,zone_1,NaN,64,zone_1,The chicken 64 was 0:18:14 already in that zon...,1094,62,True
202,2020-07-30,15:36:47,3,TS,wg,zone_3,NaN,64,zone_3,The chicken 64 was 0:00:04 already in that zon...,4,80,True
203,2020-07-30,15:38:00,3,TS,wg,zone_4,NaN,64,zone_3,The chicken 64 was in zone_3 at 15:36:43 and i...,0,0,False
204,2020-07-30,15:38:55,3,TS,sb,zone_2,NaN,78,zone_2,The chicken 78 was 0:03:22 already in that zon...,202,50,True
205,2020-07-30,15:47:11,5,TS,SG,zone_1,NaN,21,zone_1,The chicken 21 was 0:18:26 already in that zon...,1106,640,True
206,2020-07-30,15:47:11,5,TS,WS,zone_1,NaN,2,zone_1,The chicken 2 was 0:07:53 already in that zone...,473,713,True
207,2020-07-30,15:47:11,5,TS,GS,zone_1,NaN,12,zone_1,The chicken 12 was 0:02:43 already in that zon...,163,2084,True
208,2020-07-30,15:48:23,5,TS,SS,zone_1,NaN,117,zone_1,The chicken 117 was 0:01:29 already in that zo...,89,799,True
209,2020-07-30,15:48:46,5,TS,GG,zone_1,NaN,88,0,0,0,0,False
210,2020-07-30,15:49:20,5,TS,PB,zone_1,NaN,54,zone_1,The chicken 54 was 0:18:09 already in that zon...,1089,437,True
211,2020-07-30,15:49:59,5,TS,WG,zone_1,NaN,100,zone_1,The chicken 100 was 0:01:17 already in that zo...,77,385,True
212,2020-07-30,15:50:38,5,TS,BS,zone_4,NaN,73,zone_4,The chicken 73 was 0:50:58 already in that zon...,3058,690,True
213,2020-07-30,15:51:34,5,TS,GP,zone_2,NaN,16,zone_2,The chicken 16 was 0:00:15 already in that zon...,15,16,True
214,2020-07-30,15:51:34,5,TS,PP,zone_2,NaN,28,0,0,0,0,False

In [13]:
df_scans['is_correct'].value_counts(normalize=True)

True     0.772093
False    0.227907
Name: is_correct, dtype: float64

In [14]:
df_scans.groupby(['is_correct','obsZone'])['Time'].count().reset_index()

   is_correct  obsZone  Time
0       False   zone_1    11
1       False   zone_2     5
2       False   zone_3    15
3       False   zone_4    12
4       False  zone_wg     6
5        True   zone_1    90
6        True   zone_2    25
7        True   zone_3    16
8        True   zone_4    18
9        True  zone_wg    17

In [15]:
df_scans.to_csv(r'D:\vm_exchange\PhD_Data\GantnerValidation\scan_automatic_matching.csv', index=False, sep=';')