In [1]:
#basic package
import json
import tqdm
import os
import numpy as np
import glob
import pandas as pd
import sys
import shutil
import time
import datetime as dt
import itertools
import time
import re
from collections import Counter
from collections import defaultdict
import operator
import math
import functools
import collections

#plot
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel(r'D:\vm_exchange\PhD_Data\GantnerValidation\Validation_Scans.xlsx',sep=';',index_col=False)#header=0:if there is no header
print(df.shape)
df.head(3)

(253, 8)

        Date      Time  Pen Side Bird Zone Position / Comments  TagID
0 2020-07-30  15:30:25  3.0   WG   pb   Wg                 NaN    NaN
1 2020-07-30  15:30:42  4.0   WG  sws   Wg                 NaN    NaN
2 2020-07-30  15:30:42  4.0   WG   ws   Wg                 NaN    NaN

In [7]:
df = pd.read_csv(r'D:\vm_exchange\PhD_Data\GantnerValidation\log_00000001_pen10-12.csv', sep=';', index_col=0) 
print(df.shape)
df.head(3)

(125774, 6)

                     020015C0  15  Tier 1  3  2  1
16.10.2019 11:33:43
16.10.2019 11:33:46  0200156A  56  Tier 1  2  2  1
16.10.2019 11:33:48  020015C8  80  Tier 1  3  2  1
16.10.2019 11:33:48  02001419  19  Tier 1  3  2  1

In [ ]:
### construct function between two points, for linearity let deg=1
#deg=15: difference du rsi au debut (e.g. entre 60 et 70) a moins d'impact que la difference du rsi entre 90 et 100
#plus deg est grand plus cette difference sera grande!
def fct_between_two_points(x, y, deg,x_val, plot=None):
    #find function
    coefficients = np.polyfit(x, y, deg)
    polynomial = np.poly1d(coefficients)
    #plot the points and the line
    if plot!=None:
        x_axis = range(x[0],x[1]+1)
        y_axis = polynomial(x_axis)
        plt.plot(x_axis, y_axis)
        plt.plot( x[0], y[0], 'go' )
        plt.plot( x[1], y[1], 'go' )
        plt.grid('on')
        plt.show()
    return(polynomial(x_val))
        
#example
fct_between_two_points(x=[55, 100], y=[10, 50], deg=15, x_val=70,plot=1)
fct_between_two_points(x=[55, 100], y=[10, 50], deg=1, x_val=70,plot=1)