In [1]:
#basic package
import tqdm
import os
import numpy as np
import glob
import pandas as pd
import sys
import time
import datetime as dt
import itertools
import re
import math
from collections import Counter
import operator

#scaling
from sklearn.preprocessing import StandardScaler, MinMaxScaler

#modelling
from catboost import CatBoostClassifier, Pool

#plot
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
PACKAGE_PARENT = '../'
SCRIPT_DIR = os.path.dirname(os.path.realpath(os.path.join(os.getcwd(), os.path.expanduser('__file__'))))
sys.path.append(os.path.normpath(os.path.join(SCRIPT_DIR, PACKAGE_PARENT)))
from UTILS import preprocessing_Origins, OriginsInitialVerification, is_day, is_WG_open, openDevice, cleaning_processing
import config_origins as config

C:\Users\camil\anaconda3\lib\site-packages\scipy\sparse\sparsetools.py:21: DeprecationWarning: `scipy.sparse.sparsetools` is deprecated!
scipy.sparse.sparsetools is a private module for scipy.sparse, and should not be used.
  _deprecated()

2

# Define parameters

In [3]:
print('change the configuration file if not done yet!')
path_extracted_data = config.path_extracted_data
path_initial_data = config.path_initial_data
id_run = config.id_run
dico_matching = config.dico_matching
nbr_maxdur2beremoved = config.nbr_maxdur2beremoved
dico_garden_opening_hour = config.dico_garden_opening_hour
date_first_opening_WG = config.date_first_opening_WG
print(id_run)
path_extracted_data_visual = os.path.join(path_extracted_data,'visual')
pal_ = config.pal_
close_dates = config.close_dates

#feature for model
li_cont_select = config.li_cont_select
li_bin = config.li_bin
li_cat_select = config.li_cat_select

#create a director if not existing
if not os.path.exists(path_extracted_data_visual):
    os.makedirs(path_extracted_data_visual)
    
path_extracted_data_cleaning_model = os.path.join(path_extracted_data,'Cleaning','model')

change the configuration file if not done yet!
correctlightschedule_

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

## Preprocess - add HenID

In [4]:
START_TIME = time.perf_counter()
p = glob.glob(os.path.join(path_initial_data, 'Barn 4 Pen*\TagUpdates\log*'))
#print('There is %d log files:\n  %s'%(len(p),'  \n  '.join(p)))
df = preprocessing_Origins(p, config, save=True, dodevice=True)
print(df.shape)
display(df.head(2))
display(df.tail(2))
END_TIME = time.perf_counter()
print ("Total running time: %.2f mn" %((END_TIME-START_TIME)/60))

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
<>:2: DeprecationWarning: invalid escape sequence \T
<>:2: DeprecationWarning: invalid escape sequence \T
<ipython-input-4-9a81131e2f69>:2: DeprecationWarning: invalid escape sequence \T
  p = glob.glob(os.path.join(path_initial_data, 'Barn 4 Pen*\TagUpdates\log*'))

From the focalBirdinfo, you have 158 ative tags

C:\Users\camil\Desktop\animals_code\PhD-AnimalWelfare\UTILS.py:409: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_ = df.groupby(['HenID'])['system','PenID','TagID'].agg(lambda x: set(x)).reset_index()

-------------------- DEVICE DATA --------------------
process device data...

100%|██████████████████████████████████████████████████████████████████████████████████| 41/41 [24:39<00:00, 36.09s/it]

Create last action GAP csv...
Create variables from device csv...

C:\Users\camil\Desktop\animals_code\PhD-AnimalWelfare\UTILS.py:559: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_device['is_>=20h-<2'] = df_device['Timestamp'].map(lambda x: (x.hour<2) | (x.hour>=20))
C:\Users\camil\Desktop\animals_code\PhD-AnimalWelfare\UTILS.py:560: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_device['is_day'] = df_device['Timestamp'].map(lambda x: is_day(x, dico_night_hour))
C:\Users\camil\Desktop\animals_code\PhD-AnimalWelfare\UTILS.py:574: RuntimeWarning: Mean of empty slice
  df_device_day = df_device_day.groupby(['sender','New_Timestamp'])['MovementCounter'].agg(lambda x: np.nanmean(x)).reset_index()
C:\Users\camil\Desktop\animals_code\PhD-AnimalWelfare\UTILS.py:583: RuntimeWarning: All-NaN axis encountered
  MovementCounter_day_max=pd.NamedAgg(column='MovementCounter', aggfunc=lambda x: np.nanmax(x)),
C:\Users\camil\Desktop\animals_code\PhD-AnimalWelfare\UTILS.py:584: RuntimeWarning: Mean of empty slice
  MovementCounter_day_mean=pd.NamedAgg(column='MovementCounter', aggfunc=lambda x: np.nanmean(x))).reset_index()
C:\Users\camil\anaconda3\lib\site-packages\numpy\lib\nanfunctions.py:1113: RuntimeWarning: All-NaN slice encountered
  r, k = function_base._ureduce(a, func=_nanmedian, axis=axis, out=out,
C:\Users\camil\Desktop\animals_code\PhD-AnimalWelfare\UTILS.py:598: RuntimeWarning: All-NaN axis encountered
  temperature_night20_2_max=pd.NamedAgg(column='Temperature', aggfunc=lambda x: np.nanmax(x)),
C:\Users\camil\Desktop\animals_code\PhD-AnimalWelfare\UTILS.py:599: RuntimeWarning: Degrees of freedom <= 0 for slice.
  temperature_night20_2_var=pd.NamedAgg(column='Temperature', aggfunc=lambda x: np.nanvar(x))).reset_index()

Create LFCounter csv...
(34466, 5)
(5503772, 15)

,Timestamp,HenID,Zone,PenID,log_file_name,ts_order,TagID,signalstrength,system,time,date,zone2,signalstzone2,zone3,zone4
0,2020-09-29 09:07:00,71,Tier 2 (mini 12),12,log_00000001,0,162,10,10 - 12,09:07:00,2020-09-29,2,8,1,0
1,2020-09-29 09:08:12,7,Tier 2 (mini 11),11,log_00000001,1,140,10,10 - 12,09:08:12,2020-09-29,2,8,1,0

,Timestamp,HenID,Zone,PenID,log_file_name,ts_order,TagID,signalstrength,system,time,date,zone2,signalstzone2,zone3,zone4
5503770,2021-05-10 08:42:27,65,Tier 2 + untere Stange,10,log_00000007,275691,139,3,10 - 12,08:42:27,2021-05-10,1,2,0,0
5503771,2021-05-10 08:42:31,180,Tier 2 + untere Stange,12,log_00000007,275692,199,12,10 - 12,08:42:31,2021-05-10,8,5,3,1

Total running time: 146.09 mn

# Cleaning

## General verification (add ms & do some small verifications)

In [5]:
#for being more reproductible, we open the file that was saved from cleaning
df = pd.read_csv(os.path.join(path_extracted_data, id_run+'_PreprocessRecords_forcleaning.csv'), sep=';', 
                 parse_dates=['Timestamp', 'date'], dayfirst=True) #index_col=0) 
print(df.shape)
df.head(3)

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

(5503772, 16)

,Unnamed: 0,Timestamp,HenID,Zone,PenID,log_file_name,ts_order,TagID,signalstrength,system,time,date,zone2,signalstzone2,zone3,zone4
0,0,2020-09-29 09:07:00,71,Tier 2 (mini 12),12,log_00000001,0,162,10,10 - 12,09:07:00,2020-09-29,2,8,1,0
1,1,2020-09-29 09:08:12,7,Tier 2 (mini 11),11,log_00000001,1,140,10,10 - 12,09:08:12,2020-09-29,2,8,1,0
2,2,2020-09-29 09:08:26,71,Tier 2 + untere Stange,12,log_00000001,2,162,11,10 - 12,09:08:26,2020-09-29,8,10,3,1

In [6]:
min(df['date'].tolist()), max(df['date'].tolist())

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

(Timestamp('2020-09-29 00:00:00'), Timestamp('2021-05-10 00:00:00'))

In [7]:
df = OriginsInitialVerification(df, config)
print(df.shape)
df.head(3)

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

100%|████████████████████████████████████████████████████████████████████████████████| 228/228 [03:25<00:00,  1.11it/s]

100%|████████████████████████████████████████████████████████████████████████████████| 228/228 [04:18<00:00,  1.13s/it]

Small visual check of duration computation

,Timestamp,HenID,Zone,previous_record_date,previous_duration,duration
1976,2020-09-29 14:33:02,hen_99,3_Zone,NaT,NaT,0 days 00:05:08
2016,2020-09-29 14:38:10,hen_99,2_Zone,2020-09-29 14:33:02,0 days 00:05:08,0 days 00:20:47
2182,2020-09-29 14:58:57,hen_99,3_Zone,2020-09-29 14:38:10,0 days 00:20:47,0 days 00:04:45
2224,2020-09-29 15:03:42,hen_99,3_Zone,2020-09-29 14:58:57,0 days 00:04:45,0 days 00:00:16
2227,2020-09-29 15:03:58,hen_99,3_Zone,2020-09-29 15:03:42,0 days 00:00:16,0 days 00:00:33

Total running time: 205.35 mn
(5503772, 28)

,Unnamed: 0,Timestamp,HenID,Zone,PenID,log_file_name,ts_order,TagID,signalstrength,system,...,ts_order_list,ts_order_info,ms,next_record_date,duration,previous_record_date,previous_duration,next_zone,previous_zone,previous_previous_zone
0,0,2020-09-29 09:07:00,hen_71,3_Zone,12,log_00000001,0,162,10,10 - 12,...,log_00000001_0,log_00000001_0 log_00000001_0,0.0,2020-09-29 09:08:26,86.0,NaT,NaT,3_Zone,NaN,NaN
1,1,2020-09-29 09:08:12,hen_7,3_Zone,11,log_00000001,1,140,10,10 - 12,...,log_00000001_1,log_00000001_1 log_00000001_1,0.0,2020-09-29 09:12:16,244.0,NaT,NaT,3_Zone,NaN,NaN
2,2,2020-09-29 09:08:26,hen_71,3_Zone,12,log_00000001,2,162,11,10 - 12,...,log_00000001_2,log_00000001_2 log_00000001_2,0.0,2020-09-29 09:09:37,71.0,2020-09-29 09:07:00,0 days 00:01:26,3_Zone,3_Zone,NaN

## Model-based cleaning

In order to keep maximum information during video cleaning (i.e. each record), we kept consecutives equal zones, so the model was trained to say "correct record" even when the duration was small and the next zone was the same zone (instead of correct when the duration was longer and the next zone was a different one). 
Also, note that if we remove consecutives equal zone before the model filtering, then we might remove a correct record, while keeping a wrong record instead.
For these two reasons, we should remove consecutives equal zones AFTER model filtering and not during the general cleaning.
Note that the only difference with the preprocessing step in chapter 0, is that we add the milliseconds to the timsetamp in order to have the correct duration per stay first

In [4]:
#for being more reproductible, we open the file that was saved from cleaning
df = pd.read_csv(os.path.join(path_extracted_data, id_run+'_records_GeneralCleaning.csv'), sep=';', 
                 parse_dates=['date','Timestamp'], dayfirst=True) 
print(df.shape)
df.head(3)

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

(5503772, 28)

,Unnamed: 0,Timestamp,HenID,Zone,PenID,log_file_name,ts_order,TagID,signalstrength,system,...,ts_order_list,ts_order_info,ms,next_record_date,duration,previous_record_date,previous_duration,next_zone,previous_zone,previous_previous_zone
0,0,2020-09-29 09:07:00,hen_71,3_Zone,12,log_00000001,0,162,10,10 - 12,...,log_00000001_0,log_00000001_0 log_00000001_0,0.0,2020-09-29 09:08:26.000,86.0,NaN,NaN,3_Zone,NaN,NaN
1,1,2020-09-29 09:08:12,hen_7,3_Zone,11,log_00000001,1,140,10,10 - 12,...,log_00000001_1,log_00000001_1 log_00000001_1,0.0,2020-09-29 09:12:16.000,244.0,NaN,NaN,3_Zone,NaN,NaN
2,2,2020-09-29 09:08:26,hen_71,3_Zone,12,log_00000001,2,162,11,10 - 12,...,log_00000001_2,log_00000001_2 log_00000001_2,0.0,2020-09-29 09:09:37.000,71.0,2020-09-29 09:07:00.000,0 days 00:01:26,3_Zone,3_Zone,NaN

In [5]:
#use same step as in cleaning-validation-effect paper
START_TIME = time.perf_counter()
df = cleaning_processing(df=df, date_min=dt.datetime(2020, 9, 29), date_max=dt.datetime(2021, 8, 1), config=config)
df['time'] = df['Timestamp'].map(lambda x: dt.datetime.time(x))
df.rename(columns={'Zone':'Trackingsystem_Zone'}, inplace=True) #thats how it was named in the model 
#add other variables
df['is_dur_bigger_'+str(nbr_maxdur2beremoved)] = df['duration'].map(lambda x: x>=nbr_maxdur2beremoved)
display(df['is_dur_bigger_'+str(nbr_maxdur2beremoved)].value_counts(normalize=True))
df['is_dur_smaller_60sec'] = df['duration'].map(lambda x: x<60)
display(df['is_dur_smaller_60sec'].value_counts(normalize=True))
print('saving...')
df.to_csv(os.path.join(path_extracted_data,'df_recordsmodelpreprocessing.csv'), sep=';', index=False)
END_TIME = time.perf_counter()
print ("Total running time: %.2f mn" %((END_TIME-START_TIME)/60))
print(df.shape)
df.head(3)

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

(5503772, 28)
(5503772, 28)

100%|████████████████████████████████████████████████████████████████████████████████| 228/228 [08:50<00:00,  2.33s/it]

small VERIFICATION of zone matching, before droping the old names

    system  zone2  zone3  zone4 zone2_match  zone3_match  zone4_match
0  10 - 12      2      1      0      3_Zone       2_Zone  NoOtherZone
1  10 - 12      2      1      0      3_Zone       2_Zone  NoOtherZone
2  10 - 12      8      3      1   miniZone3       4_Zone       2_Zone
3  10 - 12      2      3      1      3_Zone       4_Zone       2_Zone
4  10 - 12      8      3      0   miniZone3       4_Zone  NoOtherZone
5  10 - 12      2      3      1      3_Zone       4_Zone       2_Zone
6  10 - 12      7      0      0   miniZone3  NoOtherZone  NoOtherZone
7  10 - 12      8      3      1   miniZone3       4_Zone       2_Zone
8  10 - 12      2      3      0      3_Zone       4_Zone  NoOtherZone
9  10 - 12      2      3      1      3_Zone       4_Zone       2_Zone

specifically, a small verification of when zone2 was equal to 9

,Unnamed: 0,Timestamp,HenID,Zone,PenID,ts_order,TagID,signalstrength,system,time,...,next3_zone,previous3_zone,next4_zone,previous4_zone,next5_zone,previous5_zone,previousZone==NextZone,zone2_match,zone3_match,zone4_match
171,171,2020-09-29 09:47:53,hen_47,2_Zone,pen12,104,tag_175,6,10 - 12,09:47:53,...,2_Zone,NaN,2_Zone,NaN,2_Zone,NaN,True,2_Zone,NoOtherZone,NoOtherZone
199,198,2020-09-29 09:51:02,hen_55,2_Zone,pen12,118,tag_167,6,10 - 12,09:51:02,...,2_Zone,NaN,2_Zone,NaN,2_Zone,NaN,True,2_Zone,NoOtherZone,NoOtherZone
346,346,2020-09-29 10:15:40,hen_53,2_Zone,pen12,148,tag_169,6,10 - 12,10:15:40,...,2_Zone,2_Zone,2_Zone,2_Zone,2_Zone,3_Zone,True,2_Zone,NoOtherZone,NoOtherZone

False    0.913033
True     0.086967
Name: is_dur_bigger_900, dtype: float64

True     0.500702
False    0.499298
Name: is_dur_smaller_60sec, dtype: float64

saving...
Total running time: 530.84 mn
(5503772, 54)

,Unnamed: 0,Timestamp,HenID,Trackingsystem_Zone,PenID,ts_order,TagID,signalstrength,system,time,...,previous5_zone,previousZone==NextZone,zone2_match,zone3_match,zone4_match,zone3_match_exist,next2zone==Zone,previous2zone==Zone,is_dur_bigger_900,is_dur_smaller_60sec
0,0,2020-09-29 09:07:00,hen_71,3_Zone,pen12,0,tag_162,10,10 - 12,09:07:00,...,NaN,False,3_Zone,2_Zone,NoOtherZone,1,1,0,False,False
1,1,2020-09-29 09:08:12,hen_7,3_Zone,pen11,1,tag_140,10,10 - 12,09:08:12,...,NaN,False,3_Zone,2_Zone,NoOtherZone,1,1,0,False,False
2,2,2020-09-29 09:08:26,hen_71,3_Zone,pen12,2,tag_162,11,10 - 12,09:08:26,...,NaN,True,miniZone3,4_Zone,2_Zone,1,1,0,False,False

In [4]:
#download model
model = CatBoostClassifier()
path_ = r'G:\VPHI\Welfare\2- Research Projects\OFHE2.OriginsE2\DataOutput\TrackingSystem\CleaningAnalysis_\Cleaning\model'
model.load_model(os.path.join(path_,'FINAL_Catboost'));

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [5]:
#for more flexibility we open the file that was saved previously
df = pd.read_csv(os.path.join(path_extracted_data, 'df_recordsmodelpreprocessing.csv'), sep=';', 
                 parse_dates=['Timestamp','date'], dayfirst=True) 
df['is_day'] = df['Timestamp'].map(lambda x:  is_day(x, config.dico_night_hour))
df['is_dur_smaller_60sec'] = df['duration'].map(lambda x: x<60)
display(df['is_dur_smaller_60sec'].value_counts())
df['duration_bounded_mn'] = df['duration'].map(lambda x: min(x,60*60)/60)
df['next_duration_bounded_mn'] = df['next_duration'].map(lambda x: min(x,60*60)/60)
df['previous_duration_bounded_mn'] = df['previous_duration'].map(lambda x: min(x,60*60)/60)
print(df.shape)
df.head(3)

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

True     2755747
False    2748025
Name: is_dur_smaller_60sec, dtype: int64

(5503772, 58)

,Unnamed: 0,Timestamp,HenID,Trackingsystem_Zone,PenID,ts_order,TagID,signalstrength,system,time,...,zone4_match,zone3_match_exist,next2zone==Zone,previous2zone==Zone,is_dur_bigger_900,is_dur_smaller_60sec,is_day,duration_bounded_mn,next_duration_bounded_mn,previous_duration_bounded_mn
0,0,2020-09-29 09:07:00,hen_71,3_Zone,pen12,0,tag_162,10,10 - 12,09:07:00,...,NoOtherZone,1,1,0,False,False,True,1.433333,1.183333,0.000000
1,1,2020-09-29 09:08:12,hen_7,3_Zone,pen11,1,tag_140,10,10 - 12,09:08:12,...,NoOtherZone,1,1,0,False,False,True,4.066667,4.866667,0.000000
2,2,2020-09-29 09:08:26,hen_71,3_Zone,pen12,2,tag_162,11,10 - 12,09:08:26,...,2_Zone,1,1,0,False,False,True,1.183333,0.716667,1.433333

df_ = df[(df['Trackingsystem_Zone']!='1_Zone')&\
         (df['HenID']=='hen_143')&(df['date'].isin([dt.datetime(2020,10,3), 
                                                    dt.datetime(2020,10,4)]))].copy()
print(df_.shape)
df_.head(3)

In [6]:
########### handle nan
#add info on nan values in the initial df, in order to replace at the end all prediction based on features involvig at least 
#one nan, by 1
#Indeed, for records with some nan features, we will predict them a 1 all the time its only 0,05% of the time , i.e. when its 
#first or last transition. Indeed, we dont want to loose any records!
df['nbr_nan'] = df.filter(li_cont_select+li_cat_select, axis=1).isnull().sum(axis=1).tolist()
display(df['nbr_nan'].value_counts())
#fillnan for simplicity, but we will remove those rows predictions anyway
#display BEFORE categoricalfeatures
display(df[li_cat_select].head(3))
df[li_cont_select] = df[li_cont_select].fillna(df[li_cont_select].mean().iloc[0])
#display AFTER categoricalfeatures
df[li_cat_select] = df[li_cat_select].fillna(df[li_cat_select].mode().iloc[0])
#show data
display(df[config.li_cont_select].head(3))
display(df[config.li_cat_select].head(3))

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

0    5502858
1        686
2        228
Name: nbr_nan, dtype: int64

  Trackingsystem_Zone zone2_match previous1_zone next1_zone   system
0              3_Zone      3_Zone            NaN     3_Zone  10 - 12
1              3_Zone      3_Zone            NaN     3_Zone  10 - 12
2              3_Zone   miniZone3         3_Zone     3_Zone  10 - 12

,signalstrength,signalstzone2,duration_bounded_mn,next_duration_bounded_mn,previous_duration_bounded_mn,next2zone==Zone,previous2zone==Zone,zone3_match_exist
0,10,8,1.433333,1.183333,0.000000,1,0,1
1,10,8,4.066667,4.866667,0.000000,1,0,1
2,11,10,1.183333,0.716667,1.433333,1,0,1

  Trackingsystem_Zone zone2_match previous1_zone next1_zone   system
0              3_Zone      3_Zone         3_Zone     3_Zone  10 - 12
1              3_Zone      3_Zone         3_Zone     3_Zone  10 - 12
2              3_Zone   miniZone3         3_Zone     3_Zone  10 - 12

In [7]:
START_TIME = time.perf_counter()
#predict, and if its wintergarten (i.e. 1_Zone) put =1
df['model_prediction'] = df.apply(lambda x: model.predict(pd.DataFrame(x[li_cont_select+\
                                                                         li_cat_select]).transpose())[0] if\
                                  x['Trackingsystem_Zone']!='1_Zone' else 1, axis=1)
display(df['model_prediction'].value_counts(normalize=True)) #in testing it was 4,9% of wrong records: 42/(42+821)*100)

#predict false if <60seconds in WG or at night, else true
df.loc[(df['is_dur_smaller_60sec'])&((df['Trackingsystem_Zone']=='1_Zone')|(~df['is_day'])), 'model_prediction'] = 0
#always =1 if there was some nan values
display(df['model_prediction'].value_counts(normalize=True)) #in testing it was 4,9% of wrong records: 42/(42+821)*100)

#always =1 if >15mn or if there was some NAN values
df.loc[(df['is_dur_bigger_'+str(nbr_maxdur2beremoved)])|(df['nbr_nan']!=0), 'model_prediction'] = 1
display(df['model_prediction'].value_counts(normalize=True)) #in testing it was 4,9% of wrong records: 42/(42+821)*100)

#predict=1 if nan
df.loc[df['nbr_nan']!=0, 'model_prediction'] = 1
display(df['model_prediction'].value_counts(normalize=True)) #in testing it was 4,9% of wrong records: 42/(42+821)*100)

END_TIME = time.perf_counter()
print ("Total running time for prediction: %.2f mn" %((END_TIME-START_TIME)/60))
display(display(df.head(3)))
#prediction_proba = model.predict_proba(df[df['Trackingsystem_Zone']!='1_Zone'])
#df['model_prediction_proba0'] = [round(x[0],2) for x in prediction_proba]
#df['model_prediction_proba1'] = [round(x[1],2) for x in prediction_proba]

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

1    0.955998
0    0.044002
Name: model_prediction, dtype: float64

1    0.940111
0    0.059889
Name: model_prediction, dtype: float64

1    0.940489
0    0.059511
Name: model_prediction, dtype: float64

1    0.940489
0    0.059511
Name: model_prediction, dtype: float64

Total running time for prediction: 206.79 mn

,Unnamed: 0,Timestamp,HenID,Trackingsystem_Zone,PenID,ts_order,TagID,signalstrength,system,time,...,next2zone==Zone,previous2zone==Zone,is_dur_bigger_900,is_dur_smaller_60sec,is_day,duration_bounded_mn,next_duration_bounded_mn,previous_duration_bounded_mn,nbr_nan,model_prediction
0,0,2020-09-29 09:07:00,hen_71,3_Zone,pen12,0,tag_162,10,10 - 12,09:07:00,...,1,0,False,False,True,1.433333,1.183333,0.000000,1,1
1,1,2020-09-29 09:08:12,hen_7,3_Zone,pen11,1,tag_140,10,10 - 12,09:08:12,...,1,0,False,False,True,4.066667,4.866667,0.000000,1,1
2,2,2020-09-29 09:08:26,hen_71,3_Zone,pen12,2,tag_162,11,10 - 12,09:08:26,...,1,0,False,False,True,1.183333,0.716667,1.433333,0,1

None

#old way
########### model filtering keeping 15mns' stays and for WG + night records: predict false if <60seconds else True (TD-method)
START_TIME = time.perf_counter()
#predict, and if its wintergarten (i.e. 1_Zone) put =1
df_ = df[df['Trackingsystem_Zone']!='1_Zone'].copy()
predictions = model.predict(df_.filter(li_cont_select+li_cat_select, axis=1))
x0 = df[df['Trackingsystem_Zone']=='1_Zone'].shape[0]
df_['model_prediction'] = predictions
if df_[df_['model_prediction'].isnull()].shape[0]!=0:
    print('ERROR')
    sys.exit()
df = pd.merge(df, df_.filter(['model_prediction','HenID','Timestamp'], axis=1), on=['HenID','Timestamp'], how='left')
print(df[df['model_prediction'].isnull()].shape)
if df[df['model_prediction'].isnull()].shape[0]!=x0:
    print('ERROR: you have some nan in your predictions')
    sys.exit()
display(df['model_prediction'].value_counts(normalize=True))
END_TIME = time.perf_counter()
print ("Total running time for prediction: %.2f mn" %((END_TIME-START_TIME)/60))


#predict false if <60seconds in WG or at night, else true
df.loc[df['Trackingsystem_Zone']=='1_Zone','model_prediction'] = 1
df.loc[(df['is_dur_smaller_60sec'])&((df['Trackingsystem_Zone']=='1_Zone')|(~df['is_day'])), 'model_prediction'] = 0

#always =1 if >15mn or if there was some NAN values
df.loc[(df['is_dur_bigger_'+str(nbr_maxdur2beremoved)])|(df['nbr_nan']!=0), 'model_prediction'] = 1

display(df['model_prediction'].value_counts(normalize=True)) #in testing it was 4,9% of wrong records: 42/(42+821)*100)
#prediction_proba = model.predict_proba(df[df['Trackingsystem_Zone']!='1_Zone'])
#df['model_prediction_proba0'] = [round(x[0],2) for x in prediction_proba]
#df['model_prediction_proba1'] = [round(x[1],2) for x in prediction_proba]

In [8]:
#will take TIME to save
#Note that we cant use the duration info anymore so we are filtering it
df.filter(['HenID','PenID','system','Trackingsystem_Zone','model_prediction','Timestamp','date'],
          axis=1).to_csv(os.path.join(path_extracted_data, id_run+'_Rawdata&Model.csv'), index=False, sep=';')

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

## Remove filtered records & consecutives equal zones

In [9]:
#for being more reproductible, we open the file that was saved from cleaning
df = pd.read_csv(os.path.join(path_extracted_data, id_run+'_Rawdata&Model.csv'), sep=';', parse_dates=['Timestamp','date'],
                 dayfirst=True) 
#remove predicted-wrong-records
print(df.shape)
print(df[df['model_prediction'].isnull()].shape)
df = df[df['model_prediction']!=0].copy()
print(df.shape)
#simply rename the tracking system zone into the model zone :) 
df.rename(columns={'Trackingsystem_Zone':'Zone'}, inplace=True)
print(df.shape)
df.head(3)

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

(5503772, 7)
(0, 7)
(5176237, 7)
(5176237, 7)

,HenID,PenID,system,Zone,model_prediction,Timestamp,date
0,hen_71,pen12,10 - 12,3_Zone,1,2020-09-29 09:07:00,2020-09-29
1,hen_7,pen11,10 - 12,3_Zone,1,2020-09-29 09:08:12,2020-09-29
2,hen_71,pen12,10 - 12,3_Zone,1,2020-09-29 09:08:26,2020-09-29

In [10]:
#######################################################################################################################
#ceiz = consecutives equal initial zone
print('-----------------------------------------------------------------------------------------------')
print('remove consecutives equal zone for the same hen.........')
print('-----------------------------------------------------------------------------------------------')

li_df = []
#more efficient to do it per hen, as it wont need to search in the whole dataframe, and we can simply shift the timestamp column
for i, df_hen in tqdm.tqdm(df.groupby(['HenID'])):
    #as the next record date (sort by date, then simply shift by one row and add nan at then end)
    df_hen = df_hen.sort_values(['Timestamp'], ascending=True)
    #same date, one must take the last recorded one & sorting by date might change it. Also it already should be sorted by date
    df_hen['next_record_date'] = df_hen['Timestamp'].tolist()[1:]+[np.nan]
    #compute duration
    df_hen['duration'] = df_hen.apply(lambda x: x['next_record_date']-x['Timestamp'], axis=1)
    #compute the last record date in order to put interzone also when the duration is >=nbr_sec_flickering1
    df_hen['previous_record_date'] = [np.nan]+df_hen['Timestamp'].tolist()[0:-1]
    #compute previous duration in order to put interzone also when the duration is >=nbr_sec_flickering1
    df_hen['previous_duration'] = [np.nan]+df_hen['duration'].tolist()[0:-1]
    #add next record for the impossible movement
    df_hen['next_zone'] = df_hen['Zone'].tolist()[1:]+[np.nan]
    #add previous record for the consecutives equal initial zones
    df_hen['previous_zone'] = [np.nan]+df_hen['Zone'].tolist()[0:-1]
    df_hen['previous_previous_zone'] = [np.nan]+df_hen['previous_zone'].tolist()[0:-1]
    li_df.append(df_hen)
#put again in one dataframe
df = pd.concat(li_df)
#dont care about the false positive warning   

#True if next zone is equal to the actual zone
df['correction_is_consecutive_equal_initial_zone'] = False
#if the previous zone is the same, then its cez that should be removed
df.loc[df['previous_zone']==df['Zone'], 'correction_is_consecutive_equal_initial_zone'] = True


################# save
df = df.sort_values(['Timestamp'], ascending=True)
#save to verify CEIZ
df.to_csv(os.path.join(path_extracted_data, id_run+'_records_GeneralCleaning_VERIFICATION_CEIZ.csv'), sep=';', index=False) 
df = df[~(df['correction_is_consecutive_equal_initial_zone'])]

-----------------------------------------------------------------------------------------------
remove consecutives equal zone for the same hen.........
-----------------------------------------------------------------------------------------------

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
100%|████████████████████████████████████████████████████████████████████████████████| 228/228 [03:33<00:00,  1.07it/s]

In [11]:
#small verification
df_hen[['Timestamp','HenID','previous_zone','Zone']].head(10)

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

               Timestamp   HenID previous_zone    Zone
1976 2020-09-29 14:33:02  hen_99           NaN  3_Zone
2016 2020-09-29 14:38:10  hen_99        3_Zone  2_Zone
2182 2020-09-29 14:58:57  hen_99        2_Zone  3_Zone
2224 2020-09-29 15:03:42  hen_99        3_Zone  3_Zone
2227 2020-09-29 15:03:58  hen_99        3_Zone  3_Zone
2233 2020-09-29 15:04:31  hen_99        3_Zone  3_Zone
2324 2020-09-29 15:15:46  hen_99        3_Zone  2_Zone
3476 2020-09-29 16:54:27  hen_99        2_Zone  3_Zone
3486 2020-09-29 16:55:54  hen_99        3_Zone  3_Zone
3490 2020-09-29 16:56:36  hen_99        3_Zone  3_Zone

## Remove records in WG when WG was close

In [12]:
df['is_WG_open'] = df['Timestamp'].map(lambda x: is_WG_open(x, dico_garden_opening_hour, date_first_opening_WG, close_dates,
                                                            epsi_open=0, epsi_close=20))
#we keep the epsi_open=0 as the system appeared to always open between 20sec of 2mn AFTER the indicated time (from video 
#observation)
#we set epsi_close=20 as for video observation we saw that itwoul dbe between + and -15 mn than the indicated time. So we added
#some flexibility by puting 20mn.
print(df['is_WG_open'].value_counts(normalize=True))
display(df[(df['Zone']=='1_Zone')&(df['is_WG_open'])][['Timestamp','is_WG_open']].head(5))
display(df[(df['Zone']=='1_Zone')&(~df['is_WG_open'])][['Timestamp','is_WG_open']].head(5))

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

True     0.557041
False    0.442959
Name: is_WG_open, dtype: float64

                Timestamp  is_WG_open
49254 2020-10-08 11:01:14        True
49282 2020-10-08 11:05:21        True
49284 2020-10-08 11:06:29        True
49318 2020-10-08 11:09:54        True
49348 2020-10-08 11:11:42        True

                Timestamp  is_WG_open
30943 2020-10-05 11:58:13       False
30954 2020-10-05 11:59:40       False
31152 2020-10-05 12:27:06       False
31209 2020-10-05 12:34:59       False
31229 2020-10-05 12:37:56       False

In [13]:
#remove WG when close
print(df.shape)
df = df[~((~df['is_WG_open'])&(df['Zone']=='1_Zone'))]
print(df.shape)

(2066733, 16)

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

(2059712, 16)

## Save

In [14]:
print(df.shape)
df.head(3)
df.to_csv(os.path.join(path_extracted_data, id_run+'_CLEANEDDATA.csv'), sep=';', index=False)

(2059712, 16)

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

## MLP comparison (raw vs cleaned)

In [15]:
#for being more reproductible, we open the file that was saved from cleaning
df = pd.read_csv(os.path.join(path_extracted_data, id_run+'_Rawdata&Model.csv'), sep=';', parse_dates=['Timestamp','date'],
                 dayfirst=True) 
print(df.shape)
df.head(3)

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

(5503772, 7)

,HenID,PenID,system,Trackingsystem_Zone,model_prediction,Timestamp,date
0,hen_71,pen12,10 - 12,3_Zone,1,2020-09-29 09:07:00,2020-09-29
1,hen_7,pen11,10 - 12,3_Zone,1,2020-09-29 09:08:12,2020-09-29
2,hen_71,pen12,10 - 12,3_Zone,1,2020-09-29 09:08:26,2020-09-29

In [16]:
df['model_prediction'].value_counts(normalize=True)

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

1    0.940489
0    0.059511
Name: model_prediction, dtype: float64

In [ ]:
START_TIME = time.perf_counter()
#choose specific dates to plot, November is better as hens starts to move more and the algo have never seen it
dmin = dt.datetime(2021,3,10)
dmax = dt.datetime(2021,3,20)
#df_ = df[(df['date']<dt.datetime(2020,11,16))&(df['date']>dt.datetime(2020,11,10))]
df_ = df[(df['date']<=dmax)&(df['date']>=dmin)].copy()
print(df_.shape)
#only print the hens with at least one transition per day (simplicity and interestignly)
#to sort the yaxis
dico_zone_order = {'1_Zone':0, '2_Zone':1, '3_Zone':2, '4_Zone':3, '5_Zone':4}
li_ts = ['Trackingsystem_Zone','Model_Zone']
li_date = df_['date'].unique()
#for each batch draw 2 timeseries, the raw one and the model one
for henID, df_plt in tqdm.tqdm(df_.groupby(['HenID'])):
    df_plt = df_plt.sort_values(['Timestamp']).copy()
    c = len(li_ts) ; l = len(li_date)
    fig, ax = plt.subplots(figsize=(c*5, l*1))
    i = 1
    if len(df_plt['date'].unique())==len(li_date):
        mi = min(df_plt['Timestamp'].tolist()) ; ma = max(df_plt['Timestamp'].tolist())
        Daterange = pd.date_range(start = mi+dt.timedelta(seconds=(60-mi.second)), 
                                  end = ma-dt.timedelta(seconds=(ma.second+1)), 
                                  freq = 'S') 
        df_plt_ = df_plt.copy()
        df_plt_.set_index('Timestamp', inplace=True)
        df_plt_ = df_plt_.reindex(Daterange, method='ffill').reset_index()
        df_plt_.rename(columns={'index':'Timestamp'}, inplace=True)
        #add date again, as the reindexing also extended the date
        df_plt_['date'] = df_plt_['Timestamp'].map(lambda x: dt.datetime.date(x))
        #remove first & last date
        df_plt_ = df_plt_[~df_plt_['date'].isin([max(df_plt_['date'].tolist()),min(df_plt_['date'].tolist())])]
        #put xlabel into numbers for the ploting
        df_plt_['Trackingsystem_Zone'] = df_plt_['Trackingsystem_Zone'].map(lambda x: int(dico_zone_order[x]))       
        for d, df_plt__ in df_plt_.groupby(['date']):
            for v in li_ts:
                df_plt___ = df_plt__.copy()
                if v=='Model_Zone':
                    df_plt___ = df_plt___[df_plt___['model_prediction']==1]
                plt.subplot(l,c,i)
                plt.tight_layout(pad=0.3) #add spacing between each plot
                if i%2==1:
                    plt.yticks([0,1,2,3,4], ['Winter garden', 'Litter', 'Lower perch','Nestbox','Top floor'])
                else:
                    plt.yticks([0,1,2,3,4], ['','','','',''])
                if i in [1,2]:
                    plt.title(v.replace('_',' '), size=13)
                i = i+1
                plt.plot(df_plt___['Timestamp'].tolist(), df_plt___['Trackingsystem_Zone'].tolist(), 
                         color=pal_[v], linewidth=1)
                li_hour = pd.date_range(start = d,  end = d+dt.timedelta(days=1), freq = 'H')
                plt.xticks(li_hour , [str(i.hour)+'h' for i in li_hour], fontsize=5)                
                plt.yticks(fontsize=8)
                plt.xlabel(str(d).split('T')[0], size=7)
                plt.ylim(0, 4.2)  
        plt.savefig(os.path.join(path_extracted_data_visual, 
                                 henID+'_'+str(dmin).split(' ')[0]+'_'+str(dmax).split(' ')[0]+'.png'), 
                    format='png', bbox_inches='tight', dpi=300)
    plt.clf()
    plt.close("all")    
END_TIME = time.perf_counter()
print ("Total running time: %.2f mn" %((END_TIME-START_TIME)/60))
#hen4, 22.10.2020: flickering. solved?

C:\Users\camil\anaconda3\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
  0%|                                                                                          | 0/159 [00:00<?, ?it/s]

(324948, 7)

 12%|█████████▍                                                                     | 19/159 [20:04<2:22:58, 61.27s/it]