In [1]:
#basic package
import os
import numpy as np
import pandas as pd
import time
import datetime as dt
import sys

#plot
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
PACKAGE_PARENT = '../'
SCRIPT_DIR = os.path.dirname(os.path.realpath(os.path.join(os.getcwd(), os.path.expanduser('__file__'))))
sys.path.append(os.path.normpath(os.path.join(SCRIPT_DIR, PACKAGE_PARENT)))
import config_origins as config

path_extracted_data = config.path_extracted_data
id_run = config.id_run
path_adapt = os.path.join(path_extracted_data,'Adaptability')
print(id_run)

ALLDATA_

In [3]:
#b0 = 2.33848 
#b1 = -1.09013 

b0 = 1.11954
b1 = -0.24986

In [4]:
#when does time is making mvt beeing less than with time = 0
#b0T+b1T2>0 <-> -bo/b1>T , in our case while T is smaller than:
print(-b0/(b1))

#when is the change in trend
#dérive sur time(b0T+b1T2)=0 <-> b0+2*b1T=0 <-> -bo/2b1=T, in our case when T equals:
-b0/(b1*2)

4.480669174737853

2.2403345873689267

In [5]:
df_PL = pd.read_csv(os.path.join(path_adapt,'Prediction_RI.csv'), sep=',')
print(df_PL.shape)
df_PL[['time','time2','DIB']].head(3)

(3230, 35)

       time     time2  DIB
0  0.000000  0.000000   11
1  0.081155  0.006586   12
2  0.162309  0.026344   13

In [6]:
df_PL[df_PL['time']>=-b0/(b1*2)][['time','DIB']]
#until day 39!

          time  DIB
26    2.272329   39
27    2.353483   40
28    2.434638   41
29    2.515793   42
30    2.596947   43
...        ...  ...
3225  3.165029   50
3226  3.246184   51
3227  3.327339   52
3228  3.408493   53
3229  3.489648   54

[1247 rows x 2 columns]