In [1]:
#basic package
import json
import tqdm
import os
import numpy as np
import glob
import pandas as pd
import sys
import shutil
import time
import datetime as dt
import itertools
import time
import re
from collections import Counter
from collections import defaultdict
import operator
import math
from scipy import stats
import pickle
from collections import Counter

#modelling
import statsmodels
import statsmodels.api as sm
import statsmodels.formula.api as smf

#plot
import matplotlib
import matplotlib.pyplot as plt
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf, acf, pacf

from matplotlib.collections import LineCollection
from matplotlib.colors import BoundaryNorm
import seaborn as sns

c:\users\camil\anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
from UTILS import perc_element_dico
import config_mobility as config

c:\users\camil\anaconda3\lib\site-packages\_pytest\fixtures.py:844: DeprecationWarning: The `convert` argument is deprecated in favor of `converter`.  It will be removed after 2019/01.
  params = attr.ib(convert=attr.converters.optional(tuple))
c:\users\camil\anaconda3\lib\site-packages\_pytest\fixtures.py:846: DeprecationWarning: The `convert` argument is deprecated in favor of `converter`.  It will be removed after 2019/01.
  ids = attr.ib(default=None, convert=_ensure_immutable_ids)
c:\users\camil\anaconda3\lib\site-packages\scipy\sparse\sparsetools.py:21: DeprecationWarning: `scipy.sparse.sparsetools` is deprecated!
scipy.sparse.sparsetools is a private module for scipy.sparse, and should not be used.
  _deprecated()

we restrict the time series to one value per 60 seconds
we compute the complexity variables each 30 minutes
each variables includes the values of at least the last 120.00 minutes (i.e. are using 120.00 values)

In [3]:
path_extracted_data = config.path_extracted_data
path_initial_data = config.path_initial_data
id_run = config.id_run
title_ = 'LB_mobility' #LSL_mobility, LB_mobility, all_mobility
path_save_ = os.path.join(path_extracted_data, 'visual', 'Daily_var_investigation', title_)
#create a director if not existinga
if not os.path.exists(path_save_):
    os.makedirs(path_save_)

# Data at KBF level

In [4]:
df_master = pd.read_csv(os.path.join(path_initial_data,'Mo_Masterfile.csv'), sep=';') #, parse_dates=['date']) wrong!
df_master['date'] = df_master['date'].map(lambda x: dt.datetime.strptime(x, "%d.%m.%Y"))
df_master.rename(columns={'time':'Timestamp','day':'DayID','hen':'HenID','date':'day'}, inplace=True)
#dico or join by hen (not day as some are nan but we actually know then)
df_master['HenID'] = df_master['HenID'].map(str)
dico_hen_group = dict(zip(df_master['HenID'].tolist(), df_master['group'].tolist()))
df_master['HenID'] = df_master['HenID'].map(lambda x: 'hen_'+str(x))
#df_master.filter(['HenID','group'])
#keep hybrid info
dico_henID_hybrid = dict(zip(df_master['HenID'].tolist(), df_master['hybrid'].tolist()))
print(df_master.shape)
df_master.head(3)

(7920, 43)

,HenID,timepoint,group,age,DayID,day,file,severity,pen,hybrid,...,meanchange,mean1,medianchange,transitions,real0,sumdur,nest_vs_total,severity_diff,KBF_new,indicator
0,hen_1,1,A,21,1,2016-10-27,1A01,0.0,1,LSL,...,1.23,1.0,1.0,91.0,NaN,57067.0,0.177419,NaN,0.0,NaN
1,hen_1,1,A,21,2,2016-10-28,1A01,0.0,1,LSL,...,1.28,1.0,1.0,108.0,NaN,56854.0,0.171053,0.0,0.0,NaN
2,hen_1,1,A,21,3,2016-10-29,1A01,0.0,1,LSL,...,1.17,1.0,1.0,128.0,NaN,56721.0,0.255319,0.0,0.0,NaN

In [5]:
#create dico to match each day to the session and number of days of the session
df_ = df_master.groupby('timepoint')['day'].agg(lambda x: sorted(set(x))).reset_index()
dico_day_sessiontpt = {}
for tpt in df_master['timepoint'].unique():
    li_d = df_[df_['timepoint']==tpt]['day'].values[0]
    for i,d in enumerate(li_d):
        dico_day_sessiontpt[d] = 'sess_'+str(tpt)+'_day'+str(i%6) #modulo 6 to take into account groups A and B
dico_day_sessiontpt

{Timestamp('2016-10-27 00:00:00'): 'sess_1_day0',
 Timestamp('2016-10-28 00:00:00'): 'sess_1_day1',
 Timestamp('2016-10-29 00:00:00'): 'sess_1_day2',
 Timestamp('2016-10-30 00:00:00'): 'sess_1_day3',
 Timestamp('2016-10-31 00:00:00'): 'sess_1_day4',
 Timestamp('2016-11-01 00:00:00'): 'sess_1_day5',
 Timestamp('2016-11-04 00:00:00'): 'sess_1_day0',
 Timestamp('2016-11-05 00:00:00'): 'sess_1_day1',
 Timestamp('2016-11-06 00:00:00'): 'sess_1_day2',
 Timestamp('2016-11-07 00:00:00'): 'sess_1_day3',
 Timestamp('2016-11-08 00:00:00'): 'sess_1_day4',
 Timestamp('2016-11-09 00:00:00'): 'sess_1_day5',
 Timestamp('2016-11-17 00:00:00'): 'sess_2_day0',
 Timestamp('2016-11-18 00:00:00'): 'sess_2_day1',
 Timestamp('2016-11-19 00:00:00'): 'sess_2_day2',
 Timestamp('2016-11-20 00:00:00'): 'sess_2_day3',
 Timestamp('2016-11-21 00:00:00'): 'sess_2_day4',
 Timestamp('2016-11-22 00:00:00'): 'sess_2_day5',
 Timestamp('2016-11-25 00:00:00'): 'sess_2_day0',
 Timestamp('2016-11-26 00:00:00'): 'sess_2_day1',
 Timestamp('2016-11-27 00:00:00'): 'sess_2_day2',
 Timestamp('2016-11-28 00:00:00'): 'sess_2_day3',
 Timestamp('2016-11-29 00:00:00'): 'sess_2_day4',
 Timestamp('2016-11-30 00:00:00'): 'sess_2_day5',
 Timestamp('2016-12-08 00:00:00'): 'sess_3_day0',
 Timestamp('2016-12-09 00:00:00'): 'sess_3_day1',
 Timestamp('2016-12-10 00:00:00'): 'sess_3_day2',
 Timestamp('2016-12-11 00:00:00'): 'sess_3_day3',
 Timestamp('2016-12-12 00:00:00'): 'sess_3_day4',
 Timestamp('2016-12-13 00:00:00'): 'sess_3_day5',
 Timestamp('2016-12-16 00:00:00'): 'sess_3_day0',
 Timestamp('2016-12-17 00:00:00'): 'sess_3_day1',
 Timestamp('2016-12-18 00:00:00'): 'sess_3_day2',
 Timestamp('2016-12-19 00:00:00'): 'sess_3_day3',
 Timestamp('2016-12-20 00:00:00'): 'sess_3_day4',
 Timestamp('2016-12-21 00:00:00'): 'sess_3_day5',
 Timestamp('2017-01-05 00:00:00'): 'sess_4_day0',
 Timestamp('2017-01-06 00:00:00'): 'sess_4_day1',
 Timestamp('2017-01-07 00:00:00'): 'sess_4_day2',
 Timestamp('2017-01-08 00:00:00'): 'sess_4_day3',
 Timestamp('2017-01-09 00:00:00'): 'sess_4_day4',
 Timestamp('2017-01-10 00:00:00'): 'sess_4_day5',
 Timestamp('2017-01-13 00:00:00'): 'sess_4_day0',
 Timestamp('2017-01-14 00:00:00'): 'sess_4_day1',
 Timestamp('2017-01-15 00:00:00'): 'sess_4_day2',
 Timestamp('2017-01-16 00:00:00'): 'sess_4_day3',
 Timestamp('2017-01-17 00:00:00'): 'sess_4_day4',
 Timestamp('2017-01-18 00:00:00'): 'sess_4_day5',
 Timestamp('2017-02-02 00:00:00'): 'sess_5_day0',
 Timestamp('2017-02-03 00:00:00'): 'sess_5_day1',
 Timestamp('2017-02-04 00:00:00'): 'sess_5_day2',
 Timestamp('2017-02-05 00:00:00'): 'sess_5_day3',
 Timestamp('2017-02-06 00:00:00'): 'sess_5_day4',
 Timestamp('2017-02-07 00:00:00'): 'sess_5_day5',
 Timestamp('2017-02-10 00:00:00'): 'sess_5_day0',
 Timestamp('2017-02-11 00:00:00'): 'sess_5_day1',
 Timestamp('2017-02-12 00:00:00'): 'sess_5_day2',
 Timestamp('2017-02-13 00:00:00'): 'sess_5_day3',
 Timestamp('2017-02-14 00:00:00'): 'sess_5_day4',
 Timestamp('2017-02-15 00:00:00'): 'sess_5_day5',
 Timestamp('2017-03-02 00:00:00'): 'sess_6_day0',
 Timestamp('2017-03-03 00:00:00'): 'sess_6_day1',
 Timestamp('2017-03-04 00:00:00'): 'sess_6_day2',
 Timestamp('2017-03-05 00:00:00'): 'sess_6_day3',
 Timestamp('2017-03-06 00:00:00'): 'sess_6_day4',
 Timestamp('2017-03-07 00:00:00'): 'sess_6_day5',
 Timestamp('2017-03-10 00:00:00'): 'sess_6_day0',
 Timestamp('2017-03-11 00:00:00'): 'sess_6_day1',
 Timestamp('2017-03-12 00:00:00'): 'sess_6_day2',
 Timestamp('2017-03-13 00:00:00'): 'sess_6_day3',
 Timestamp('2017-03-14 00:00:00'): 'sess_6_day4',
 Timestamp('2017-03-15 00:00:00'): 'sess_6_day5',
 Timestamp('2017-04-14 00:00:00'): 'sess_7_day0',
 Timestamp('2017-04-15 00:00:00'): 'sess_7_day1',
 Timestamp('2017-04-16 00:00:00'): 'sess_7_day2',
 Timestamp('2017-04-17 00:00:00'): 'sess_7_day3',
 Timestamp('2017-04-18 00:00:00'): 'sess_7_day4',
 Timestamp('2017-04-19 00:00:00'): 'sess_7_day5',
 Timestamp('2017-04-22 00:00:00'): 'sess_7_day0',
 Timestamp('2017-04-23 00:00:00'): 'sess_7_day1',
 Timestamp('2017-04-24 00:00:00'): 'sess_7_day2',
 Timestamp('2017-04-25 00:00:00'): 'sess_7_day3',
 Timestamp('2017-04-26 00:00:00'): 'sess_7_day4',
 Timestamp('2017-04-27 00:00:00'): 'sess_7_day5',
 Timestamp('2017-05-04 00:00:00'): 'sess_8_day0',
 Timestamp('2017-05-05 00:00:00'): 'sess_8_day1',
 Timestamp('2017-05-06 00:00:00'): 'sess_8_day2',
 Timestamp('2017-05-07 00:00:00'): 'sess_8_day3',
 Timestamp('2017-05-08 00:00:00'): 'sess_8_day4',
 Timestamp('2017-05-09 00:00:00'): 'sess_8_day5',
 Timestamp('2017-05-12 00:00:00'): 'sess_8_day0',
 Timestamp('2017-05-13 00:00:00'): 'sess_8_day1',
 Timestamp('2017-05-14 00:00:00'): 'sess_8_day2',
 Timestamp('2017-05-15 00:00:00'): 'sess_8_day3',
 Timestamp('2017-05-16 00:00:00'): 'sess_8_day4',
 Timestamp('2017-05-17 00:00:00'): 'sess_8_day5',
 Timestamp('2017-06-01 00:00:00'): 'sess_9_day0',
 Timestamp('2017-06-02 00:00:00'): 'sess_9_day1',
 Timestamp('2017-06-03 00:00:00'): 'sess_9_day2',
 Timestamp('2017-06-04 00:00:00'): 'sess_9_day3',
 Timestamp('2017-06-05 00:00:00'): 'sess_9_day4',
 Timestamp('2017-06-06 00:00:00'): 'sess_9_day5',
 Timestamp('2017-06-09 00:00:00'): 'sess_9_day0',
 Timestamp('2017-06-10 00:00:00'): 'sess_9_day1',
 Timestamp('2017-06-11 00:00:00'): 'sess_9_day2',
 Timestamp('2017-06-12 00:00:00'): 'sess_9_day3',
 Timestamp('2017-06-13 00:00:00'): 'sess_9_day4',
 Timestamp('2017-06-14 00:00:00'): 'sess_9_day5',
 Timestamp('2017-07-06 00:00:00'): 'sess_10_day0',
 Timestamp('2017-07-07 00:00:00'): 'sess_10_day1',
 Timestamp('2017-07-08 00:00:00'): 'sess_10_day2',
 Timestamp('2017-07-09 00:00:00'): 'sess_10_day3',
 Timestamp('2017-07-10 00:00:00'): 'sess_10_day4',
 Timestamp('2017-07-11 00:00:00'): 'sess_10_day5',
 Timestamp('2017-07-15 00:00:00'): 'sess_10_day0',
 Timestamp('2017-07-16 00:00:00'): 'sess_10_day1',
 Timestamp('2017-07-17 00:00:00'): 'sess_10_day2',
 Timestamp('2017-07-18 00:00:00'): 'sess_10_day3',
 Timestamp('2017-07-19 00:00:00'): 'sess_10_day4',
 Timestamp('2017-07-20 00:00:00'): 'sess_10_day5',
 Timestamp('2017-08-03 00:00:00'): 'sess_11_day0',
 Timestamp('2017-08-04 00:00:00'): 'sess_11_day1',
 Timestamp('2017-08-05 00:00:00'): 'sess_11_day2',
 Timestamp('2017-08-06 00:00:00'): 'sess_11_day3',
 Timestamp('2017-08-07 00:00:00'): 'sess_11_day4',
 Timestamp('2017-08-08 00:00:00'): 'sess_11_day5',
 Timestamp('2017-08-12 00:00:00'): 'sess_11_day0',
 Timestamp('2017-08-13 00:00:00'): 'sess_11_day1',
 Timestamp('2017-08-14 00:00:00'): 'sess_11_day2',
 Timestamp('2017-08-15 00:00:00'): 'sess_11_day3',
 Timestamp('2017-08-16 00:00:00'): 'sess_11_day4',
 Timestamp('2017-08-17 00:00:00'): 'sess_11_day5'}

# MLPS at day level

In [6]:
li_path = glob.glob(os.path.join(path_extracted_data,'VF_time_serie_day_*_variables.csv'))
li_zone = ['zone_1', 'zone_2', 'zone_3', 'zone_4', 'zone_5']
li_df = []
for path_ in li_path:
    sessID = path_.split('_')[-3]
    df_ = pd.read_csv(path_, sep=';', index_col=0, parse_dates=['level','FirstTimestamp_zone_1','FirstTimestamp_zone_2',
                                                                'FirstTimestamp_zone_3','FirstTimestamp_zone_4',
                                                                'FirstTimestamp_zone_5'])
    #day 2017-08-07 egg quality must be linked to the MLPs variable of the day 2017-08-06 with possible bias induce by if the hen 
    #laid the egg at 9h on the 2017-08-06 (or anytime after 8h, the time where the people take the egg). 
    df_['egg_level'] = df_['level'].map(lambda x: x+dt.timedelta(days=1))
    if 'SampEnt_perZone' in df_.columns:
        for z in li_zone:
            df_['SampEnt_'+z] = df_['SampEnt_perZone'].map(lambda x: eval(x).get(z,0))
            df_['SampEnt_'+z] = df_['SampEnt_'+z].replace(-0.0,0)
    #df_.drop(columns=['verification_daily_total_duration'], inplace=True)    
    #put to have less change among the dependant variable entries
    #df_['SampEnt_order2'] = df_['SampEnt_order2'].map(lambda x: x*10000)
    ### from seconds to hours ###
    for v in ['max_duration','duration_zone_1','duration_zone_2','duration_zone_3','duration_zone_4','duration_zone_5']:
        df_[v] = df_[v].map(lambda x: x/60/60)
    df_['variance_duration'] = df_['variance_duration'].map(lambda x: x/(60*60)/(60*60))
    ### add hours ###
    li_fts = ['FirstTimestamp_zone_1','FirstTimestamp_zone_2','FirstTimestamp_zone_3','FirstTimestamp_zone_4',
              'FirstTimestamp_zone_5']
    for x in li_fts:
        df_[x+'_h'] = df_[x].map(lambda x: x.hour+x.minute/60+x.second/60/60)
        #lets say if we dont know that they went to 17h
        #df_[x+'_h'].fillna(17, inplace=True)
    df_['session'] = sessID
    li_df.append(df_)
df_mlp = pd.concat(li_df).reset_index()
df_mlp['hybrid'] = df_mlp['HenID'].apply(lambda x: dico_henID_hybrid[x])
print(df_mlp.shape)
df_mlp.head(3)

(7061, 63)

,HenID,FirstTimestamp_zone_1,FirstTimestamp_zone_1_h,FirstTimestamp_zone_2,FirstTimestamp_zone_2_h,FirstTimestamp_zone_3,FirstTimestamp_zone_3_h,FirstTimestamp_zone_4,FirstTimestamp_zone_4_h,FirstTimestamp_zone_5,...,percentile_85,percentile_95,session,t_DU_missingZone_mvtPerc,up_missingZone_mvtNbr,up_missingZone_mvtPerc,variance_duration,verification_daily_total_duration,zone_list,hybrid
0,hen_1,NaT,NaN,NaT,NaN,2017-07-06 09:09:28,9.157778,2017-07-06 02:18:44,2.312222,2017-07-06 02:00:00,...,75.785833,116.513333,day,"(3.7037037037037033, 0.0, 28)",0.0,0.000000,0.000120,54000.0,"('zone_5', 'zone_5', 'zone_5', 'zone_5', 'zone...",LSL
1,hen_1,NaT,NaN,2017-07-07 10:56:30,10.941667,2017-07-07 10:46:28,10.774444,2017-07-07 04:34:12,4.570000,2017-07-07 02:00:00,...,61.266667,97.116667,day,"(0.0, 0.0, 41)",0.0,0.000000,0.000096,54000.0,"('zone_5', 'zone_5', 'zone_5', 'zone_5', 'zone...",LSL
2,hen_1,NaT,NaN,NaT,NaN,2017-07-08 05:28:13,5.470278,2017-07-08 05:19:38,5.327222,2017-07-08 02:00:00,...,65.097500,73.026667,day,"(0.0, 3.0303030303030303, 34)",1.0,3.030303,0.000113,54000.0,"('zone_5', 'zone_5', 'zone_5', 'zone_5', 'zone...",LSL

In [7]:
df_mlp[['variance_duration','max_duration','duration_zone_1','duration_zone_5','verification_daily_total_duration']]

,variance_duration,max_duration,duration_zone_1,duration_zone_5,verification_daily_total_duration
0,0.000120,0.039731,0.000000,11.987500,54000.0
1,0.000096,0.042833,0.000000,12.091944,54000.0
2,0.000113,0.055454,0.000000,11.883333,54000.0
3,0.000081,0.038245,0.000000,11.902500,54000.0
4,0.000113,0.060421,0.000000,11.131389,54000.0
5,0.000086,0.034648,0.000000,11.389444,54000.0
6,0.000226,0.086417,0.000000,11.215556,54000.0
7,0.000270,0.065634,0.000000,12.834167,54000.0
8,0.000103,0.035042,0.000000,10.741389,54000.0
9,0.000134,0.050264,0.000000,8.445000,54000.0
10,0.000055,0.050370,0.000000,10.042222,54000.0
11,0.000065,0.054528,0.000000,10.318056,54000.0
12,0.000365,0.079694,0.000000,11.322500,54000.0
13,0.000369,0.094815,0.000000,11.222500,54000.0
14,0.000308,0.088019,0.000000,11.265556,54000.0
15,0.000225,0.076620,0.000000,11.477222,54000.0
16,0.000140,0.072130,0.000000,11.535556,54000.0
17,0.000321,0.080630,0.000000,9.563889,54000.0
18,0.005070,0.189519,0.000000,13.830833,54000.0
19,0.004859,0.187579,0.000000,13.566111,54000.0
20,0.001621,0.114181,0.000000,13.652222,54000.0
21,0.000991,0.085991,0.000000,13.978333,54000.0
22,0.000816,0.122315,0.000000,12.913611,54000.0
23,0.001438,0.139139,0.000000,13.434722,54000.0
24,0.001037,0.131361,0.000000,11.894444,54000.0
25,0.003841,0.170417,0.000000,12.890833,54000.0
26,0.003260,0.161755,0.000000,11.586111,54000.0
27,0.000597,0.089583,0.000000,11.588056,54000.0
28,0.000875,0.095199,0.000000,10.716667,54000.0
29,0.002734,0.150051,0.000000,12.251111,54000.0
...,...,...,...,...,...
7031,0.000030,0.032009,4.068333,2.271667,54000.0
7032,0.000040,0.033546,3.220278,2.059167,54000.0
7033,0.000035,0.029755,3.953611,1.971111,54000.0
7034,0.000045,0.039546,4.362222,2.065556,54000.0
7035,0.000030,0.022847,3.752500,2.143611,54000.0
7036,0.000043,0.025523,2.398611,2.231111,54000.0
7037,0.000346,0.106616,0.041944,10.675278,54000.0
7038,0.000229,0.094704,0.171389,10.450833,54000.0
7039,0.000127,0.068398,0.171667,9.248611,54000.0
7040,0.000189,0.087829,0.000000,10.399444,54000.0
7041,0.000270,0.085301,0.087778,9.236944,54000.0
7042,0.000364,0.078847,0.000000,11.773333,54000.0
7043,0.004927,0.178565,0.000000,14.312222,54000.0
7044,0.003299,0.150940,0.000000,13.641944,54000.0
7045,0.001767,0.150556,0.000000,11.027222,54000.0
7046,0.003282,0.149250,0.000000,14.225278,54000.0
7047,0.002943,0.130338,0.000000,14.094444,54000.0
7048,0.000917,0.135463,0.001111,13.240556,54000.0
7049,0.000026,0.035005,4.231111,0.000000,54000.0
7050,0.000026,0.031028,4.089167,0.000000,54000.0
7051,0.000032,0.029634,3.582500,0.000000,54000.0
7052,0.000037,0.034625,4.813333,0.000000,54000.0
7053,0.000046,0.036102,4.540556,0.000000,54000.0
7054,0.000024,0.026931,3.647500,0.000000,54000.0
7055,0.000065,0.036468,4.046667,0.000000,54000.0
7056,0.000080,0.032028,3.948889,0.000000,54000.0
7057,0.000084,0.045801,4.345000,0.000000,54000.0
7058,0.000085,0.034491,2.238056,0.000000,54000.0
7059,0.000049,0.027639,4.307222,0.000000,54000.0
7060,0.000058,0.042361,4.257222,0.000000,54000.0

In [10]:
df_mlp.columns

Index(['HenID', 'FirstTimestamp_zone_1', 'FirstTimestamp_zone_1_h',
       'FirstTimestamp_zone_2', 'FirstTimestamp_zone_2_h',
       'FirstTimestamp_zone_3', 'FirstTimestamp_zone_3_h',
       'FirstTimestamp_zone_4', 'FirstTimestamp_zone_4_h',
       'FirstTimestamp_zone_5', 'FirstTimestamp_zone_5_h',
       'Max_duration_zone_4', 'Max_duration_zones', 'SampEnt_order2',
       'Total_number_transition', 'Total_number_zone',
       'chatoicmvt_Middlezone_1', 'chatoicmvt_Middlezone_1_nbr',
       'chatoicmvt_Middlezone_2', 'chatoicmvt_Middlezone_2_nbr',
       'chatoicmvt_Middlezone_3', 'chatoicmvt_Middlezone_3_nbr',
       'chatoicmvt_Middlezone_4', 'chatoicmvt_Middlezone_4_nbr',
       'chatoicmvt_Middlezone_5', 'chatoicmvt_Middlezone_5_nbr',
       'dico_z_chaoticmvtMiddleDuration', 'dico_zone_sortedduration',
       'distribution_entropy', 'down_missingZone_mvtNbr',
       'down_missingZone_mvtPerc', 'dur_values', 'dur_values_normalized',
       'duration_zone_1', 'duration_zone_2', 'duration_zone_3',
       'duration_zone_4', 'duration_zone_5', 'egg_level', 'level',
       'li_event_chaoticmvt_z_d', 'list_of_durations', 'max_duration',
       'mean_duration', 'median_duration', 'min_duration', 'nbr_bouts_zone_1',
       'nbr_bouts_zone_2', 'nbr_bouts_zone_3', 'nbr_bouts_zone_4',
       'nbr_bouts_zone_5', 'percentile_15', 'percentile_5', 'percentile_85',
       'percentile_95', 'session', 't_DU_missingZone_mvtPerc',
       'up_missingZone_mvtNbr', 'up_missingZone_mvtPerc', 'variance_duration',
       'verification_daily_total_duration', 'zone_list', 'hybrid'],
      dtype='object')

In [11]:
#keep columns of one species only if wanted
print(df_mlp.shape)
if title_ =='LB_mobility':
    df_mlp = df_mlp[df_mlp['hybrid']=='LB']
if title_ =='LSL_mobility':
    df_mlp = df_mlp[df_mlp['hybrid']=='LSL']
print(df_mlp.shape)

(7061, 63)
(3545, 63)

In [12]:
#fill nan
li = ['SampEnt_order2', 'distribution_entropy']
df_mlp[li] = df_mlp[li].fillna(0.0)

#TODO ONCE HAVING FINAL DATA as can also help discovering interesting individuals etc - gain of time to do it only once: verify chaotic mvt computation etc
df[['dico_z_chaoticmvtMiddleDuration', 'li_event_chaoticmvt_z_d',
       'chatoicmvt_Middlezone_1', 'chatoicmvt_Middlezone_1_nbr',
       'chatoicmvt_Middlezone_2', 'chatoicmvt_Middlezone_2_nbr',
       'chatoicmvt_Middlezone_3', 'chatoicmvt_Middlezone_3_nbr',
       'chatoicmvt_Middlezone_4', 'chatoicmvt_Middlezone_4_nbr',
       'chatoicmvt_Middlezone_5', 'chatoicmvt_Middlezone_5_nbr','down_missingZone_mvtNbr','down_missingZone_mvtPerc','up_missingZone_mvtNbr','up_missingZone_mvtPerc','t_DU_missingZone_mvtPerc']]

In [ ]:
#save
df_mlp.to_csv(os.path.join(path_save_,'df_mlp.csv'), index=False, sep=';')

In [ ]:
#print rows with at least 10 nan values
df_mlp[df_mlp.isnull().sum(axis=1)>1]

In [ ]:
#df_mlp[['nbr_bouts_zone_1','duration_zone_1','FirstTimestamp_zone_1', 'FirstTimestamp_zone_1_h']]

## Hen level dataframe and plot

#### outside

In [ ]:
#some hens goes outside, some not!
#add outside variables
df_mlp['went_outside'] = df_mlp['nbr_bouts_zone_1'].map(lambda x: x>0)
display(df_mlp['went_outside'].value_counts())
df_outside = df_mlp.groupby(['HenID'])['went_outside'].agg(lambda x: sum(x)/len(x)*100).reset_index()
df_outside.rename(columns={'went_outside':'perc_days_outside'}, inplace=True)
print(df_outside.shape)
display(df_outside.head(3))
#histogram
plt.hist(df_outside['perc_days_outside'].dropna(),bins='auto') #bins=15: into 15 equal parts 
plt.xlabel('percentage of days the hen went outside')
plt.ylabel('#hens');
plt.savefig(os.path.join(path_save_,'histogram of percentage of days hens went outside.png'),
            pi=300,format='png',bbox_inches='tight')
plt.show()

In [ ]:
#but, does it depend on time of the year too? Lets plot the percentage of went outside over the last 7 days
df_mlp = df_mlp.sort_values(['HenID','level'],ascending=True)
#df_mlp[['HenID','level']]
d = 15
df_plot = df_mlp.groupby(['HenID'])['went_outside'].agg(lambda x: [sum(list(x)[i-d:i])/d*100 for i in range(d, len(list(x)))]).reset_index()
#small verification
#l = [True, False, False, False, False,True, False,True, False,True, False,True, False,True, False,True, False]
#d = 5
#[sum(l[i-d:i])/d*100 for i in range(d, len(l))]
df_plot.rename(columns={'went_outside':'percentage over last %d recorded days of going outside'%d}, inplace=True)
display(df_plot.head(5))
c = 10
l = math.ceil(df_plot.shape[0]/10) #round up
img_w = 6 
img_h = 3 
fig = plt.figure(figsize=(int(c*img_w), int(l*img_h)))
for i in range(df_plot.shape[0]):
    plt.subplot(l,c,i+1)
    plt.tight_layout()
    plt.plot(df_plot['percentage over last %d recorded days of going outside'%d].tolist()[i]);
    plt.xticks([]) #remove xlabel annotations
    plt.yticks([])
    henid = df_plot['HenID'].tolist()[i]
    plt.title(henid,size=12)
plt.savefig(os.path.join(path_save_,'rolling %d days windowed of percentage of days going outside.png'%d),
            pi=300,format='png',bbox_inches='tight')
plt.show()

#### add chaotic mvt

In [ ]:
#add avg of chaotic mvt across all days
df_hen = df_mlp.groupby(['HenID'])[['chatoicmvt_Middlezone_1_nbr', 'chatoicmvt_Middlezone_2_nbr',
                       'chatoicmvt_Middlezone_3_nbr', 'chatoicmvt_Middlezone_4_nbr',
                       'chatoicmvt_Middlezone_5_nbr']].agg(lambda x: np.mean(x)).reset_index()
df_hen = pd.merge(df_hen, df_outside, on=['HenID'])
print(df_hen.shape)
df_hen.head(3)

In [ ]:
df_hen[df_hen['HenID'].isin(['hen_19', 'hen_81'])]

#### save

In [ ]:
df_hen.to_csv(os.path.join(path_save_,'df_hen.csv'), index=False, sep=';')