In [8]:
#basic package
import json
import tqdm
import os
import numpy as np
import glob
import pandas as pd
import sys
import shutil
import time
import datetime as dt
import itertools
import time
import re
from collections import Counter
from collections import defaultdict
import operator
import math
import functools
import collections
import quicknet

#plot
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from synology_api import filestation, downloadstation

# Initiate the classes DownloadStation & FileStation with (ip_address, port, username, password)
# it will login automatically 

fl = filestation.FileStation('Synology Ip', 'Synology Port', 'Versuch', 'ver_19.Such')

fl.get_info()

dwn = downloadstation.DownloadStation('Synology Ip', 'Synology Port', 'Username', 'Password')

dwn.get_info()

In [12]:
from synology_api import filestation, downloadstation
ogin: Versuch
password: ver_19.Such

In [16]:
from synology_api import QuickConnect

ImportError: cannot import name 'QuickConnect'

In [ ]:
SYNO.Core.QuickConnect

In [3]:
df = pd.read_excel(r'D:\vm_exchange\PhD_Data\GantnerValidation\Validation_Scans.xlsx',sep=';',index_col=False)#header=0:if there is no header
print(df.shape)
df.head(3)

(253, 8)

        Date      Time  Pen Side Bird Zone Position / Comments  TagID
0 2020-07-30  15:30:25  3.0   WG   pb   Wg                 NaN    NaN
1 2020-07-30  15:30:42  4.0   WG  sws   Wg                 NaN    NaN
2 2020-07-30  15:30:42  4.0   WG   ws   Wg                 NaN    NaN

In [7]:
df = pd.read_csv(r'D:\vm_exchange\PhD_Data\GantnerValidation\log_00000001_pen10-12.csv', sep=';', index_col=0) 
print(df.shape)
df.head(3)

(125774, 6)

                     020015C0  15  Tier 1  3  2  1
16.10.2019 11:33:43
16.10.2019 11:33:46  0200156A  56  Tier 1  2  2  1
16.10.2019 11:33:48  020015C8  80  Tier 1  3  2  1
16.10.2019 11:33:48  02001419  19  Tier 1  3  2  1